<section data-section-id="{{section.id}}" data-type="blog-posts">
  {% if section.settings.title != blank %}
  <div class="row">
    <div class="column">
      <h2 class="general-title">{{section.settings.title}}</h2>
    </div>
  </div>
  {% endif %}

  <div class="row">
    {% for post in blog_posts limit: {{section.settings.grid}} %}
    {% assign check_first = forloop.index | modulo: 3 %}
    <div class="small-20 medium-10 large-6{% if check_first != 1 %} large-offset-1{% endif %} column">
      <div class="text-column">

        {% if post.name %}
        <h2 class="general-title">{{post.name}}</h2>
        {% endif %}

        {% if post.author %}
        <h3 class="post-author">{{post.author}}</h3>
        {% endif %}

        {% if post.content %}
        <div class="text-column-text">{{post.content | truncate: 150, '...'}}</div>
        {% endif %}

        <a role="button" class="button secondary" href="{{post.url}}">Read more</a>
      </div>
    </div>
    {% endfor %}
  </div>

  {% if section.settings.show_button == true %}
  <div class="row">
    <div class="column">
      <div class="buttons">
        <a href="/blog" role="button" class="button primary">View all</a>
      </div>
    </div>
  </div>
  {% endif %}

</section>
