{% case section.settings.grid %}
  {% when 2 %}
    {% assign grid_class = 'desk--one-half' %}
  {% when 3 %}
    {% assign grid_class = 'desk--one-third' %}
  {% when 4 %}
    {% assign grid_class = 'desk--one-quarter' %}
  {% else %}
    {% assign grid_class = 'desk--one-fifth' %}
{% endcase %}

{% assign diff = section.settings.grid | minus: section.blocks.size %}

<section data-section-id="{{section.id}}" data-type="collection-list">
  {% if section.settings.title != blank %}
  <h2 class="general-title">{{section.settings.title}}</h2>
  {% endif %}

  <div class="grid">
    {% for block in section.blocks limit: section.settings.grid %}
    {% if forloop.index != 1 %}-->{% endif %}<div class="grid__item one-whole lap--one-half {{grid_class}}">
      {% assign collection = collections[block.settings.collection] %}

      <a class="collection" href="{{collection.url}}" style="background-image: {% if collection.image %}url('{{collection.image}}'), {% endif %}url({{'images/placeholder.svg' | asset_url}})">
        <h3 class="general-title">{{collection.name}}</h3>
      </a>
    </div>{% if forloop.index != 0 and forloop.last != true %}<!--{% endif %}{% if diff > 0 %}<!--{% endif %}
    {% endfor %}

    {% if section.blocks.size < section.settings.grid %}
    {% for block in (1..diff) %}
    {% if forloop.index == 1 and diff > 0 %}-->{% endif %}{% if forloop.index != 1 %}-->{% endif %}<div class="grid__item one-whole lap--one-half {{grid_class}}">

      <div class="collection" style="background-image: url({{'images/placeholder.svg' | asset_url}})">
        <h3 class="general-title">{{'section.default.collection.name' | t}}</h3>
      </div>
    </div>{% if forloop.index != 0 and forloop.last != true %}<!--{% endif %}
    {% endfor %}
    {% endif %}



  </div>
</section>
