{% assign collection = collections[section.settings.collection] %}
{% assign limit = section.settings.rows | times: section.settings.per_row %}

{% case section.settings.per_row %}
  {% when 2 %}
    {% assign large_class = 'large-10' %}
  {% when 3 %}
    {% assign large_class = 'large-6' %}
    {% assign offset_class = 'large-offset-1' %}
  {% when 4 %}
    {% assign large_class = 'large-5' %}
  {% else %}
    {% assign large_class = 'large-4' %}
{% endcase %}

{% if collection %}
<section data-section-id="{{section.id}}" data-type="collection">

  {% if section.settings.title != blank %}
  <h2 class="general-title">{{section.settings.title}}</h2>
  {% endif %}

  <div class="grid">
    {% for product in collection.products limit: limit %}
    {% if forloop.index != 1 %}-->{% endif %}<div class="grid__item one-whole lap--one-half desk--one-third">
      {% assign variant  = product.variants.first %}

      <a class="product" href="{{product.url}}" itemtype="http://schema.org/Product">
        <meta itemprop="url" content="{{url.current_url}}">
        <meta itemprop="image" content="{{product.image.size-2048.url}}">

        {% assign product_image = 'images/placeholder.svg' | asset_url %}
        {% if product.image.size-480.url != blank %}
        {% assign product_image = product.image.size-480.url %}
        {% endif %}
        <div class="image">
          <img src="{{product_image}}" alt="{{product.name}}">
        </div>

        <h3 class="product-title" itemprop="name">{{product.name}}</h3>

        {% if product.vendor %}
        <div class="product-vendor" itemprop="brand">{{product.vendor.name}}</div>
        {% endif %}

        {% if product.available? %}
        <div class="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <span class="money" itemprop="price">>{{variant.current_price | money}}</span>
          <meta itemprop="priceCurrency" content="{{shop.currency.code}}">
          {% if variant.discount? %}
          <span class="discount">{{'product.was' | t}} <span class="money">{{product.price | money}}</span></span>
          {% endif %}
        </div>
        {% else %}
        <div class="not-available">{{'product.unavailable' | t}}</div>
        {% endif %}
        <link itemprop="availability" href="http://schema.org/{% if product.available? %}InStock{% else %}OutOfStock{% endif %}">
      </a>
    </div>{% if forloop.index != 0 and forloop.last != true %}<!--{% endif %}
    {% endfor %}
  </div>

  {% if section.settings.show_button == true %}
  <div class="buttons">
    <a href="{{collection.url}}" role="button" class="button primary">View all</a>
  </div>
  {% endif %}

</section>
{% endif %}
