{% case section.settings.grid %}
  {% when 2 %}
    {% assign grid_class = 'desk--one-half' %}
  {% when 3 %}
    {% assign grid_class = 'desk--one-third' %}
  {% when 4 %}
    {% assign grid_class = 'desk--one-quarter' %}
  {% else %}
    {% assign grid_class = 'desk--one-fifth' %}
{% endcase %}

{% assign diff = section.settings.grid | minus: section.blocks.size %}

<section data-section-id="{{section.id}}" data-type="collection-list"{% if section.settings.section_width == 'full-width' %} class="full-width"{% endif %}>
  {% if section.settings.title != blank %}
  <h2 class="general-title" data-theme-editor-setting="title">{{section.settings.title}}</h2>
  {% endif %}

  <div class="grid">
    {% for block in section.blocks limit: section.settings.grid %}
    {% if forloop.first != true %}-->{% endif %}<div class="grid__item one-whole lap--one-half {{grid_class}}" data-section-block-id="{{block.id}}">
      {% assign collection = collections[block.settings.collection] %}

      <a class="collection opacity-image-container" href="{{collection.url}}">
        <div class="opacity-image" style="background-image: {% if collection.image %}url('{{collection.image.url}}'), {% endif %}url({{'images/placeholder.svg' | asset_url}})"></div>
        <h3 class="general-title">{{collection.name}}</h3>
      </a>
    </div>{% if forloop.last != true %}<!--{% endif %}{% if diff > 0 %}<!--{% endif %}
    {% endfor %}

    {% if section.blocks.size < section.settings.grid %}
    {% for block in (1..diff) %}
    {% if forloop.first == true and diff > 0 %}-->{% endif %}{% if forloop.first != true %}-->{% endif %}<div class="grid__item one-whole lap--one-half {{grid_class}}">

      <div class="collection" style="background-image: url({{'images/placeholder.svg' | asset_url}})">
        <h3 class="general-title">{{'section.default.collection.name' | t}}</h3>
      </div>
    </div>{% if forloop.last != true %}<!--{% endif %}
    {% endfor %}
    {% endif %}

  </div>
</section>
