{% assign collection = collections[section.settings.collection] %}
{% assign limit = section.settings.rows | times: section.settings.per_row %}

{% case section.settings.per_row %}
  {% when 2 %}
    {% assign grid_class = 'desk--one-half' %}
  {% when 3 %}
    {% assign grid_class = 'desk--one-third' %}
  {% when 4 %}
    {% assign grid_class = 'desk--one-quarter' %}
  {% else %}
    {% assign grid_class = 'desk--one-fifth' %}
{% endcase %}

<section data-section-id="{{section.id}}" data-type="collection">

  {% if section.settings.title != blank %}
  <h2 class="general-title">{{section.settings.title}}</h2>
  {% endif %}

  <div class="grid">
    {% if collection.products.size != blank or !collection %}
    {% for product in collection.products limit: limit %}
    {% if forloop.first != true %}-->{% endif %}<div class="grid__item one-whole lap--one-half {{grid_class}}">
      {% assign variant = product.variants.first %}

      <a class="product" href="{{product.url}}" itemtype="http://schema.org/Product">
        <meta itemprop="url" content="{{url.current_url}}">
        <meta itemprop="image" content="{{product.image.size-2048.url}}">

        {% assign product_image = 'images/placeholder.svg' | asset_url %}
        {% if product.image.size-480.url != blank %}
        {% assign product_image = product.image.size-480.url %}
        {% endif %}
        <div class="image">
          <img src="{{product_image}}" alt="{{product.name}}">
        </div>

        <h3 class="product-title" itemprop="name">{{product.name}}</h3>

        {% if product.vendor and section.settings.show_vendor %}
        <div class="product-vendor" itemprop="brand">{{product.vendor.name}}</div>
        {% endif %}

        {% if product.available? %}
        <div class="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <span class="money" itemprop="price">>{{variant.current_price | money}}</span>
          <meta itemprop="priceCurrency" content="{{shop.currency.code}}">
          {% if variant.discount? %}
          <span class="discount">{{'product.was' | t}} <span class="money">{{product.price | money}}</span></span>
          {% endif %}
        </div>
        {% else %}
        <div class="not-available">{{'product.unavailable_short' | t}}</div>
        {% endif %}
        <link itemprop="availability" href="http://schema.org/{% if product.available? %}InStock{% else %}OutOfStock{% endif %}">
      </a>
    </div>{% if forloop.last != true %}<!--{% endif %}
    {% endfor %}
    {% else %}

    {% comment %} default view for builder {% endcomment %}

    {% for product in (1..limit) %}
    {% if forloop.first != true %}-->{% endif %}<div class="grid__item one-whole lap--one-half {{grid_class}}">
      <div class="product fake-link">
        <div class="image">
          <img src="{{'images/placeholder.svg' | asset_url}}">
        </div>

        <h3 class="product-title">{{'section.default.product_name' | t}}</h3>

        <div class="product-price">
          <span class="money">{{'14.95' | money}}</span>
        </div>
      </div>
    </div>{% if forloop.last != true %}<!--{% endif %}
    {% endfor %}
    {% endif %}
  </div>

  {% if section.settings.show_button == true %}
  <div class="buttons">
    <a href="{{collection.url}}" role="button" class="button primary">{{'section.default.view_all' | t}}</a>
  </div>
  {% endif %}

</section>
