<section data-section-id="{{section.id}}" data-type="custom">
  {% if section.settings.title != blank %}
  <h2 class="general-title">{{section.settings.title}}</h2>
  {% endif %}

  {% if section.blocks.size > 0 %}
  <div class="grid">
    {% for block in section.blocks %}

    {% case block.settings.section_width %}
      {% when '25' %}
        {% assign grid_class = 'lap--one-quarter desk--one-quarter' %}
      {% when '33' %}
        {% assign grid_class = 'lap--one-third desk--one-third' %}
      {% when '50' %}
        {% assign grid_class = 'lap--one-half desk--one-half' %}
      {% when '66' %}
        {% assign grid_class = 'lap--two-thirds desk--two-thirds' %}
      {% when '75' %}
        {% assign grid_class = 'lap--three-quarters desk--three-quarters' %}
      {% else %}
        {% assign grid_class = 'lap--one-whole desk--one-whole' %}
    {% endcase %}

    {% if forloop.first != true %}-->{% endif %}<div class="grid__item palm--one-whole {{grid_class}} v-align-{{block.settings.vertical_alignment}}">
    {% case block.type %}


      {% when 'custom_collection' %}
    {% assign collection = collections[block.settings.collection] %}
    {% if collection %}
    <div class="custom-section {{block.type}}">
      <a class="collection" href="{{collection.url}}" style="background-image: {% if collection.image %}url('{{collection.image}}'), {% endif %}url({{'images/placeholder.svg' | asset_url}})">
        <h3 class="general-title">{{collection.name}}</h3>
      </a>
    </div>
    {% else %}
    <div class="custom-section {{block.type}}">
      <div class="collection" style="background-image: url({{'images/placeholder.svg' | asset_url}})">
        <h3 class="general-title">{{'section.default.collection.name' | t}}</h3>
      </div>
    </div>
    {% endif %}


      {% when 'custom_html' %}
    <div class="custom-section {{block.type}}">
      {{block.settings.html}}
    </div>


      {% when 'custom_image' %}
    <div class="custom-section {{block.type}}">
      {% if block.settings.image != blank %}
      <img src="{{block.settings.image}}">
      {% else %}
      <img src="{{'images/placeholder.svg' | asset_url}}">
      {% endif %}
    </div>


      {% when 'custom_product' %}
    {% assign product = products[section.settings.product] %}

    <div class="custom-section {{block.type}}" itemtype="http://schema.org/Product">
      <meta itemprop="url" content="{{product.url}}">
      <meta itemprop="image" content="{{product.image.size-2048.url}}">

      {% if product.image.size-480.url != blank %}
      <img src="{{product.image.size-480.url}}" alt="{{product.name}}">
      {% else %}
      <img src="{{'images/placeholder.svg' | asset_url}}">
      {% endif %}

      <h2 class="general-title">{{product.name}} name </h2>

      <div class="product-price">
        <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{shop.currency.code}}">
          <link itemprop="availability" href="http://schema.org/{% if product.available? %}InStock{% else %}OutOfStock{% endif %}">
          <div>
            <span class="actual-price money" data-current-price itemprop="price" data-currency="{{shop.currency.code}}">{{default_variant.current_price | money}} 1.23€</span>

            {% if default_variant.discount? %}
            <span class="compare-price">
              <span class="money" data-currency="{{shop.currency.code}}">{{default_variant.price | money}}</span>
            </span>
            {% endif %}

          </div>
        </div>
      </div>
    </div>


      {% when 'custom_text' %}
    <div class="custom-section {{block.type}} text-align-{{block.settings.horizontal_alignment}}">
      {% if block.settings.title != blank %}
      <h2 class="general-title">{{block.settings.title}}</h2>
      {% endif %}

      {% if block.settings.text != blank %}
      <div class="text-content general-text">{{block.settings.text}}</div>
      {% endif %}
    </div>


      {% when 'custom_video' %}
    <div class="custom-section {{block.type}}">
      {% if block.settings.video != blank %}
      {% if block.settings.video contains 'vimeo.com' %}
      <iframe src="https://player.vimeo.com/video/{{block.settings.video | replace: 'https://vimeo.com/', ''}}" frameborder="0" data-video-full-size webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      {% elsif block.settings.video contains 'youtube.com' %}
      <iframe src="{{block.settings.video}}" frameborder="0" data-video-full-size allowfullscreen></iframe>
      {% endif %}
      {% else %}
      <div class="video-placeholder-container">
        <div class="video-placeholder"></div>
      </div>
      {% endif %}
    </div>

    {% endcase %}

    </div>{% if forloop.last != true %}<!--{% endif %}
    {% endfor %}
  </div>
  {% endif %}
</section>
