<section data-section-id="{{section.id}}" data-type="custom"{% if section.settings.section_width == 'full-width' %} class="full-width"{% endif %}>
  {% if section.settings.title != blank %}
  <h4 class="general-title" data-theme-editor-setting="title">{{section.settings.title}}</h4>
  {% endif %}

  {% if section.blocks.size > 0 %}
  <div class="grid">
    {% for block in section.blocks %}

    {% case block.settings.section_width %}
      {% when 25 %}
        {% assign grid_class = 'lap--one-quarter desk--one-quarter' %}
      {% when 33 %}
        {% assign grid_class = 'lap--one-third desk--one-third' %}
      {% when 50 %}
        {% assign grid_class = 'lap--one-half desk--one-half' %}
      {% when 66 %}
        {% assign grid_class = 'lap--two-thirds desk--two-thirds' %}
      {% when 75 %}
        {% assign grid_class = 'lap--three-quarters desk--three-quarters' %}
      {% else %}
        {% assign grid_class = 'lap--one-whole desk--one-whole' %}
    {% endcase %}

    {% unless forloop.first %}-->{% endunless %}<div class="grid__item palm--one-whole {{grid_class}} v-align-{{block.settings.vertical_alignment}}" data-section-block-id="{{block.id}}">
    {% case block.type %}


      {% when 'custom_collection' %}
    {% assign collection = collections[block.settings.collection] %}
    {% assign image = collection.image %}
    {% if collection %}
    <div class="custom-section {{block.type}}">
      <a class="collection opacity-image-container" href="{{collection.url}}">
        <div class="lazyload opacity-image{% if collection.image %} with-image" data-bgset="{% include 'srcset' with 'collection' %}" data-parent-fit="cover" data-sizes="auto{% endif %}"></div>
        <h3 class="general-title">{{collection.name}}</h3>
      </a>
    </div>
    {% else %}
    <div class="custom-section {{block.type}}">
      <div class="collection opacity-image-container">
        <div class="opacity-image"></div>
        <h3 class="general-title">{{'section.default.collection.name' | t}}</h3>
      </div>
    </div>
    {% endif %}


      {% when 'custom_html' %}
    <div class="custom-section {{block.type}}">
      {{block.settings.html}}
    </div>


      {% when 'custom_image' %}
    <div class="custom-section {{block.type}}{% if block.settings.image != blank %} with-image{% endif %}">
      {% if block.settings.image != blank %}
        {% assign image = block.settings.image %}

        <img class="lazyload"
             data-src="{{image | image_size: 'size-1728'}}"
             data-srcset="{% include 'srcset' %}">
      {% endif %}
    </div>


      {% when 'custom_product' %}
    {% assign product = products[block.settings.product] %}
    {% assign default_variant = product.variants.first %}

    <div class="custom-section product-container {{block.type}} grid" itemtype="https://schema.org/Product">
      <meta itemprop="url" content="{{product.url}}">
      <meta itemprop="image" content="{{product.image.size-2048.url}}">

      <div class="grid__item palm--one-whole lap--one-whole desk--one-half">
        <a href="{{product.url}}" class="image{% if product.image %} with-image{% endif %}">
          {% if product.image %}
          {% assign image = product.image.url %}
          <img class="lazyload"
               data-src="{{image | image_size: 'size-1728'}}"
               data-srcset="{% include 'srcset' with 'product' %}">
          {% endif %}
        </a>
      </div><!--

      --><div class="custom-product-content grid__item palm--one-whole lap--one-whole desk--one-half">
        <h2 class="general-title">
          <a href="{{product.url}}">{% if product %}{{product.name}}{% else %}{{'section.default.product_name' | t}}{% endif %}</a>
        </h2>

        <div itemprop="offers" itemscope="" itemtype="https://schema.org/Offer" data-product-form>
          <meta itemprop="priceCurrency" content="{{shop.currency.code}}">
          <link itemprop="availability" href="https://schema.org/{% if product.available? %}InStock{% else %}OutOfStock{% endif %}">
          <div>
            {% include 'product_form' %}
          </div>
        </div>
      </div>
    </div>


      {% when 'custom_text' %}
    <div class="custom-section {{block.type}} text-align-{{block.settings.horizontal_alignment}}">
      {% if block.settings.title != blank %}
      <h2 class="general-title" data-theme-editor-block-setting='title'>{{block.settings.title}}</h2>
      {% endif %}

      {% if block.settings.text != blank %}
      <div class="text-content general-text" data-theme-editor-block-setting='text'>{{block.settings.text}}</div>
      {% endif %}
    </div>


      {% when 'custom_video' %}
    <div class="custom-section {{block.type}}{% if block.settings.video != blank %} with-video{% endif %}">
      {% if block.settings.video != blank %}
      {% if block.settings.video contains 'vimeo.com' %}
      <iframe data-src="https://player.vimeo.com/video/{{block.settings.video | replace: 'https://vimeo.com/', ''}}" class="lazyload" data-video-full-size frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      {% elsif block.settings.video contains 'youtube.com' %}
      {% assign youtube = block.settings.video | replace: 'https://www.youtube.com/watch?v=', 'https://www.youtube.com/embed/' %}
      <iframe data-src="{{youtube}}" class="lazyload" data-video-full-size frameborder="0" allowfullscreen></iframe>
      {% endif %}
      {% endif %}

      <script>
        document.addEventListener("DOMContentLoaded", function() {
          customVideoSize('{{section.id}}', '{{block.id}}');
        });
        window.addEventListener('resize', function() {
          customVideoSize('{{section.id}}', '{{block.id}}');
        });
      </script>

    </div>

    {% endcase %}

    </div>{% unless forloop.last %}<!--{% endunless %}
    {% endfor %}
  </div>
  {% endif %}
</section>
