{% assign menu = menus[section.settings.menu] %}
{% assign contact = pages[section.settings.contact_page] %}

<footer class="main-footer" data-section-id="{{section.id}}">
  <div class="general-content{% if section.settings.section_width == 'full-width' %} full-width{% endif %}">
    {% if section.settings.allow_payment_icons %}
    <section data-type="logo-list" class="section-height-small full-width">
      <div class="background"></div>

      <div class="content-spacer{% if section.settings.content_width == 'full-width' %} full-width{% endif %}">
        <ul class="payment-icons">
          {% if section.settings.payment_seb %}
          <li class="payment-seb"></li>
          {% endif %}
          {% if section.settings.payment_swedbank %}
          <li class="payment-swedbank"></li>
          {% endif %}
          {% if section.settings.payment_nordea %}
          <li class="payment-nordea"></li>
          {% endif %}
          {% if section.settings.payment_danske %}
          <li class="payment-danske"></li>
          {% endif %}
          {% if section.settings.payment_lhv %}
          <li class="payment-lhv"></li>
          {% endif %}
          {% if section.settings.payment_paypal %}
          <li class="payment-paypal"></li>
          {% endif %}
          {% if section.settings.payment_visa %}
          <li class="payment-visa"></li>
          {% endif %}
          {% if section.settings.payment_mastercard %}
          <li class="payment-mastercard"></li>
          {% endif %}
          {% if section.settings.payment_maestro %}
          <li class="payment-maestro"></li>
          {% endif %}
        </ul>
      </div>
    </section>
    {% endif %}

    <div class="grid footer">
      <div class="content-spacer{% if section.settings.content_width == 'full-width' %} full-width{% endif %}">
        {% if menu %}
        <div class="grid__item palm-one-whole{% if section.settings.allow_social_icons %} three-quarters{% endif %} footer-menu">
          {% include 'menu' with menu %}
        </div>{% endif %}<!--

        -->{% if section.settings.allow_social_icons %}<div class="grid__item palm-one-whole{% if menu %} one-quarter{% endif %} social-container">
          <h2 class="general-title social-title">{{section.settings.title}}</h2>
          <div class="social-icons">
            {% if section.settings.social_facebook != blank %}
            <a href="{{section.settings.social_facebook}}" target="_blank"><i class="icon-facebook"></i></a>
            {% endif %}
            {% if section.settings.social_twitter != blank %}
            <a href="{{section.settings.social_twitter}}" target="_blank"><i class="icon-twitter"></i></a>
            {% endif %}
            {% if section.settings.social_instagram != blank %}
            <a href="{{section.settings.social_instagram}}" target="_blank"><i class="icon-instagram"></i></a>
            {% endif %}
          </div>
        </div>
        {% endif %}
      </div>

      {% if section.settings.allow_footer_text %}
      <div class="grid footer-text-row">
        {{section.settings.text_title}}
      </div>
      {% endif %}
    </div>

    <div class="grid copyright-row">
      <div class="content-spacer{% if section.settings.content_width == 'full-width' %} full-width{% endif %}">
        <div class="grid__item palm--one-whole lap--one-half desk--one-half copyright">
          © {{"now" | date: "%Y"}} {{shop.name}}. {{'section.footer.all_right_reserved' | translate}}
        </div><!--
        --><div class="grid__item palm--one-whole lap--one-half desk--one-half shoperb">
          <a href="https://www.shoperb.com" target="_blank" rel="nofollow">Powered by Shoperb</a>
        </div>
      </div>
    </div>
  </div>
</footer>
