{% assign menu = menus[section.settings.menu] %}

<header id="main-header" class="grid{% if section.settings.section_width == 'full-width' %} full-width{% endif %} header-alignment-{{section.settings.logo_alignment}}" data-section-id="{{section.id}}">
  <div class="content-spacer{% if section.settings.content_width == 'full-width' %} full-width{% endif %}">

    <div class="grid__item palm--one-whole{% if section.settings.logo_alignment != 'center' %} desk--one-quarter{% endif %}">
      <div class="logo">
        <a href="/">
          {% if section.settings.logo != blank %}
          <img src="{{section.settings.logo}}" title="{{shop.name}}" style="max-width: {{section.settings.logo_max_width}}px;">
          {% else %}
          {{shop.name}}
          {% endif %}
        </a>
      </div>
    </div><!--
    --><div class="grid__item palm--one-whole{% if section.settings.logo_alignment != 'center' %} desk--three-quarters{% endif %}">
      <div class="grid">
        {% if menu.links.size != 0 and menu != blank %}
        <div class="grid__item palm--one-whole desk--{% if section.settings.section_width == 'limited' %}three-fifths{% else %}seven-tenths{% endif %}">
          <nav role="navigation" class="main-menu">
            {% include 'menu' with menu %}
          </nav>
        </div><!--
        -->{% endif %}<div class="grid__item palm--one-whole desk--{% if menu.links.size == 0 or menu == blank %}one-whole{% else %}{% if section.settings.section_width == 'limited' %}two-fifths{% else %}three-tenths{% endif %}{% endif %} actions-container">
          <div class="actions">
            {% include 'language_switcher' %}
            <div class="search" data-item="main" data-toggle="search">
              {% include 'icon' with 'search' %}
            </div>
            <div class="account" data-item="main" data-toggle="account">
              {% include 'icon' with 'profile' %}
            </div>
            <div class="cart-container" data-item="main">
              <div class="cart">
                <a class="cart-link" href="{{url.cart}}">
                  {% include 'icon' with 'basket' %}
                  {% if cart.quantity > 0 %}
                  <div class="cart-items">{{ cart.quantity }}</div>
                  {% endif %}
                </a>
              </div>
            </div>

            <div class="search-container hidden">
              <form action="{{url.search}}" method="get" role="search">
                <input name="query" type="text" placeholder="{{'search.placeholder' | t}}" class="search-form">
                <button type="submit" class="search-button">
                  {% include 'icon' with 'search' %}
                </button>
              </form>
              <div data-toggle="close">
                {% include 'icon' with 'close' %}
              </div>
            </div>

            <div class="account-container hidden">
              {% if account.logged_in? %}
              <a href="{{url.account}}">{{'account.view' | t}}</a> {{'general.or' | t}} <a href="{{url.logout}}">{{'account.logout' | t}}</a>
              {% else %}
              <a href="{{url.login}}">{{'account.login' | t}}</a> {{'general.or' | t}} <a href="{{url.signup}}">{{'account.register' | t}}</a>
              {% endif %}
              <div data-toggle="close">
                {% include 'icon' with 'close' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      $("[data-section-id='{{section.id}}'] [data-toggle]").on('click', function() {
        var val = $(event.target).data('toggle');

        $('[data-item=main]', '#main-header').toggleClass('hidden');
        if (val === 'close') {
          $(event.target).parent().toggleClass('hidden');
        } else {
          $('.' + val + '-container').toggleClass('hidden');
        }
        if (val == 'search')
          this.parentNode.querySelector('.search-container').querySelector('input').focus()
      });
    });
  </script>

</header>