{% case section.blocks.size %}
  {% when 2 %}
    {% assign grid_class = 'desk--one-half' %}
  {% when 3 %}
    {% assign grid_class = 'desk--one-third' %}
  {% when 4 %}
    {% assign grid_class = 'desk--one-quarter' %}
  {% else %}
    {% assign grid_class = 'desk--one-whole' %}
{% endcase %}

<section data-section-id="{{section.id}}" data-type="image-gallery"{% if section.settings.section_width == 'full-width' %} class="full-width"{% endif %}>
  <div class="grid">
    {% for block in section.blocks %}
    {% unless forloop.first %}-->{% endunless %}<div data-section-block-id="{{block.id}}" class="grid__item one-whole lap--one-half opacity-image-container {{grid_class}} section-height {{section.settings.section_height}}{% if block.settings.image != blank %} with-background{% endif %}">
      <div class="lazyload opacity-image{% if block.settings.image %} image-align-{{block.settings.image_alignment}} with-image" data-bgset="{{block.settings.image}}" data-sizes="auto{% endif %}"></div>
      {% if block.settings.link contains 'http://' or block.settings.link contains 'https://' %}
      {% assign outer_url = ' target="_blank"' %}
      {% endif %}

      <{% if block.settings.link != blank %}a href="{{block.settings.link}}"{{outer_url}}{% else %}div{% endif %} class="caption-container">
        {% if block.settings.caption %}
        <span data-theme-editor-block-setting="caption">
          <h3 class="general-title{% if block.settings.text_style == 'dark' %} text-dark{% endif %}">{{block.settings.caption}}</h3>
        </span>
        {% endif %}
      </{% if block.settings.link != blank %}a{% else %}div{% endif %}>
    </div>{% unless forloop.last %}<!--{% endunless %}
    {% endfor %}
  </div>
</section>
