<section data-section-id="{{section.id}}" data-type="image-with-text-overlay" class="section-height {{section.settings.section_height}}{% if section.settings.text_size == 'large' %} text-large{% endif %}{% if section.settings.section_width == 'full-width' %} full-width{% endif %}{% if section.settings.image != blank %} with-background{% endif %}">
  <div class="no-grid-item opacity-image-container">
    <div class="opacity-image{% if section.settings.image != blank %} image-align-{{section.settings.image_alignment}}{% endif %}"{% if section.settings.image != blank %} style="background-image: url('{{section.settings.image}}')"{% endif %}></div>
    <div class="hero">
      {% if section.settings.title != blank %}
      <h1 class="general-title{% if section.settings.text_style == 'dark' %} text-dark{% endif %}" data-theme-editor-setting="title">{{section.settings.title | escape}}</h1>
      {% endif %}

      {% if section.settings.text != blank %}
      <div class="text-content general-text{% if section.settings.text_style == 'dark' %} text-dark{% endif %}" data-theme-editor-setting="text">
        {{section.settings.text}}
      </div>
      {% endif %}

      {% if section.settings.button_label != blank and section.settings.button_link != blank %}
      <a href="{{section.settings.button_link}}" role="button" class="button primary">
        {{section.settings.button_label | escape}}
      </a>
      {% endif %}
    </div>
  </div>
</section>

{% comment %}
<img sizes="(max-width: 480px) 240px, (max-width: 1062px) 640px, 1500px" data-sizes="auto" data-src="https://farm5.staticflickr.com/4078/5441060528_31db7838ba_z.jpg" data-srcset="https://farm5.staticflickr.com/4078/5441060528_31db7838ba_m.jpg 240w,
	https://thumbs.dreamstime.com/z/demo-sign-d-letter-blocks-forming-isolated-white-background-36021240.jpg 320w,
	https://bdthemes.net/demo/joomla/shortcode/cache/shortcodes/38-640x480-143eaaed06f5941b282c48e0822bfcd4 500w,
	https://upload.wikimedia.org/wikipedia/commons/a/af/Example_of_large_home_in_Southlake.JPG 640w,
	http://www.periodoakantiques.co.uk/images_up/a-fine-and-outstanding-large-example-of-a-charles-i-oak-and-inlaid-table-chair-english-circa-1630-1040-2.JPG" class="no-src lazyautosizes lazyloaded"
	srcset="https://farm5.staticflickr.com/4078/5441060528_31db7838ba_m.jpg 240w,
	https://thumbs.dreamstime.com/z/demo-sign-d-letter-blocks-forming-isolated-white-background-36021240.jpg 320w,
	https://bdthemes.net/demo/joomla/shortcode/cache/shortcodes/38-640x480-143eaaed06f5941b282c48e0822bfcd4 500w,
	https://upload.wikimedia.org/wikipedia/commons/a/af/Example_of_large_home_in_Southlake.JPG 640w,
	http://www.periodoakantiques.co.uk/images_up/a-fine-and-outstanding-large-example-of-a-charles-i-oak-and-inlaid-table-chair-english-circa-1630-1040-2.JPG 1024w" src="https://farm5.staticflickr.com/4078/5441060528_31db7838ba_z.jpg">
<div>


<img alt="..."
     data-src="http://media02.hongkiat.com/mountain-lion-wallpapers-updated/2560x1440.jpg"
     width="220" height="280">


<img sizes="(max-width: 480px) 240px, (max-width: 1062px) 640px, 1500px"
  data-sizes="auto"
  data-src="https://vignette3.wikia.nocookie.net/patric/images/5/50/Wiki-background/revision/latest?cb=20120418133802"

  data-srcset="http://www.digitalcare.org/wp-content/uploads/2016/11/Free-Desktop-Wallpaper-feature.jpg 240w,
	  https://static.pexels.com/photos/36764/marguerite-daisy-beautiful-beauty.jpg 320w,
	  https://static.pexels.com/photos/52599/pexels-photo-52599.jpeg 500w,
	  http://7-themes.com/data_images/collection/4/4456948-desktop-wallpapers.jpeg 640w,
	  http://cdn.wonderfulengineering.com/wp-content/uploads/2016/01/Desktop-Wallpaper-5.jpg 1024w"

	class="no-src lazyautosizes lazyloaded"

	srcset="http://www.digitalcare.org/wp-content/uploads/2016/11/Free-Desktop-Wallpaper-feature.jpg 240w,
	  https://static.pexels.com/photos/36764/marguerite-daisy-beautiful-beauty.jpg 320w,
	  https://static.pexels.com/photos/52599/pexels-photo-52599.jpeg 500w,
	  http://7-themes.com/data_images/collection/4/4456948-desktop-wallpapers.jpeg 640w,
	  http://cdn.wonderfulengineering.com/wp-content/uploads/2016/01/Desktop-Wallpaper-5.jpg 1024w"

	src="https://vignette3.wikia.nocookie.net/patric/images/5/50/Wiki-background/revision/latest?cb=20120418133802">
</div>
{% endcomment %}
