<section data-section-id="{{section.id}}" data-type="image-with-text-overlay" class="section-height {{section.settings.section_height}} opacity-image-container{% if section.settings.text_size == 'large' %} text-large{% endif %}{% if section.settings.section_width == 'full-width' %} full-width{% endif %}{% if section.settings.image != blank %} with-background{% endif %}">
  <div class="opacity-image{% if section.settings.image != blank %} image-align-{{section.settings.image_alignment}}{% endif %}" style="background-image: {% if section.settings.image != blank %}url('{{section.settings.image}}'), {% endif %}url('{{'images/placeholder.svg' | asset_url}}')"></div>
  <div class="hero">
    {% if section.settings.title != blank %}
    <h1 class="general-title{% if section.settings.text_style == 'dark' %} text-dark{% endif %}" data-theme-editor-setting="title">{{section.settings.title | escape}}</h1>
    {% endif %}

    {% if section.settings.text != blank %}
    <div class="text-content general-text{% if section.settings.text_style == 'dark' %} text-dark{% endif %}" data-theme-editor-setting="text">
    {{section.settings.text}}
    </div>
    {% endif %}

    {% if section.settings.button_label != blank and section.settings.button_link != blank %}
    <a href="{{section.settings.button_link}}" role="button" class="button secondary">
      {{section.settings.button_label | escape}}
    </a>
    {% endif %}
  </div>
</section>
