{% assign image_count = section.blocks.size %}

{% if section.blocks.size > 0 %}
<section data-section-id="{{section.id}}" data-type="image-gallery" class="section-height {{section.settings.section_height}} divide-by-{{image_count}}">
  <ul>
    {% for block in section.blocks %}
    <li class="image-align-{{block.settings.image_alignment}}" style="background-image: url('{{block.settings.image}}')">
      {% if block.settings.caption %}
      <span>{{block.settings.caption}}</span>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}
