{% if section.settings.button_link contains 'http://' or section.settings.button_link contains 'https://' %}
{% assign outer_url = ' target="_blank"' %}
{% endif %}
{% if section.settings.horizontal_alignment == 'image-on-left' %}
{% assign ordering = ' small-order-1' %}
{% endif %}

<section data-section-id="{{section.id}}" data-type="image-with-text"{% if section.settings.section_width == 'full-width' %} class="full-width"{% endif %}>
  <div class="grid">
    {% if section.settings.horizontal_alignment == 'image-on-left' %}
    <div class="grid__item palm--one-whole lap--one-half desk--one-half{% if section.settings.image != blank %} with-image{% endif %}">
      <div class="image">
        {% if section.settings.image != blank %}
        {% assign image = section.settings.image %}
        <img class="lazyload"
             src="{{section.settings.image | image_size: 'size-540'}}"
             data-src="{{section.settings.image | image_size: 'size-540'}}""
             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
             data-aspectratio="{{section.settings.image.aspect_ratio}}"
             data-sizes="auto"
             data-srcset="{% include 'srcset' %}"
             {% if section.settings.title %}alt="{{section.settings.title | escape}}"{% endif %}>
        {% else %}
        <img src="{{'images/placeholder.svg' | asset_url}}">
        {% endif %}
      </div>
    </div><!--
    -->{% endif %}<div class="grid__item palm--one-whole lap--one-half desk--one-half">
      <h2 class="general-title" data-theme-editor-setting="title">{{section.settings.title}}</h2>
      <div class="text-content general-text" data-theme-editor-setting="text" >{{section.settings.text}}</div>

      {% if section.settings.button_label != blank and section.settings.button_link != blank %}
      <a href="{{section.settings.button_link}}" data-theme-editor-setting="button_label" role="button" class="button primary"{{outer_url}}>{{section.settings.button_label}}</a>
      {% endif %}

  </div>{% if section.settings.horizontal_alignment == 'image-on-right' %}<!--

    --><div class="grid__item palm--one-whole lap--one-half desk--one-half{% if section.settings.image != blank %} with-image{% endif %}">
      <div class="image">
        <img src="{% if section.settings.image != blank %}{{section.settings.image}}{% else %}{{'images/placeholder.svg' | asset_url}}{% endif %}">
      </div>
    </div>{% endif %}

  </div>
</section>
