{% assign address = section.settings.address | replace: ' ', '%20' | replace: ',', '%2C' %}

<section data-section-id="{{section.id}}" data-type="location-and-contact"{% if section.settings.section_width == 'full-width' %} class="full-width"{% endif %}>

  <div class="map-container{% if section.settings.gmaps_api_key != blank %} with-map scrolloff{% endif %}">
    {% if section.settings.gmaps_api_key != blank %}
    <iframe class="lazyload" width="100%" height="100%" frameborder="0" style="border:0" data-src="https://www.google.com/maps/embed/v1/place?key={{section.settings.gmaps_api_key}}&q={{address}}" allowfullscreen></iframe>
    {% endif %}
  </div>

  <div class="map-description">
    <div class="map-details">
      {% if section.settings.title != blank %}
      <h2 class="general-title" data-theme-editor-setting="title" >{{section.settings.title}}</h2>
      {% endif %}

      {% if section.settings.text != blank %}
      <div class="text-content general-text" data-theme-editor-setting="text" >{{section.settings.text}}</div>
      {% endif %}
    </div>
  </div>

  <script>
  document.addEventListener("DOMContentLoaded", function() {
    var selector = document.querySelector("[data-section-id='location-and-contact'][data-type='location-and-contact'] .map-container");

    if (selector) {
      selector.onclick = function() {
        selector.classList.remove('scrolloff');
      };
      selector.querySelector('iframe').onmouseout = function() {
        selector.classList.add('scrolloff');
      };
    }
  });
  </script>

</section>
