{% assign address = section.settings.address | replace: ' ', '%20' | replace: ',', '%2C' %}

<section data-section-id="{{section.id}}" data-type="location-and-contact" class="full-width next-to-up">

  <div class="map-container">
    <iframe width="100%" height="100%" frameborder="0" class="scrolloff" style="border:0" src="https://www.google.com/maps/embed/v1/place?key={{section.settings.gmaps_api_key}} &q={{address}}" allowfullscreen></iframe>
  </div>

  <div class="map-description">
    {% if section.settings.title != blank %}
    <h2 class="general-title" data-theme-editor-setting="title" >{{section.settings.title}}</h2>
    {% endif %}

    {% if section.settings.text != blank %}
    <div class="text-content general-text" data-theme-editor-setting="text" >{{section.settings.text}}</div>
    {% endif %}
  </div>
</section>
