<section data-section-id="{{section.id}}" data-type="logo-list" class="section-height-{{section.settings.section_height}} {% if section.settings.section_width == 'full-width' %} full-width{% endif %}">
  <div class="background"></div>

  {% if section.settings.title != blank %}
  <h2 class="general-title" data-theme-editor-setting="title" >{{section.settings.title}}</h2>
  {% endif %}

  {% if section.blocks.size > 0 %}
  <div class="grid">
    <ul>
      {% for block in section.blocks %}
      <li data-section-block-id="{{block.id}}">
        {% if block.settings.link != blank %}
        <a href="{{block.settings.link}}" target="_blank">
        {% endif %}

        {% if block.settings.image != blank %}
          <img src="{{block.settings.image}}">
        {% endif %}

        {% if block.settings.link != blank %}
        </a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

</section>
