<section data-section-id="{{section.id}}" data-type="newsletter"{% if section.settings.section_width == 'full-width' %} class="full-width"{% endif %}>
<div class="background"></div>

<div class="newsletter-container">
  {% if section.settings.title != blank %}
  <h2 class="general-title" data-theme-editor-setting="title" >{{section.settings.title}}</h2>
  {% endif %}

  <div data-form>
    <div class="grid">
      {% if section.settings.text != blank %}
      <div class="text-content general-text" data-theme-editor-setting="text" > {{section.settings.text}}</div>
      {% endif %}
    </div>

    <div class="newsletter-form newsletter-input">
      {% form 'subsrcibers' %}
      <input placeholder='email address' name="url" type='text'>
      <button class="subscribe_url" value="{{paths.add_subscriber}}?email_marketing={{section.settings.email_marketing}}">{{section.settings.button_text}}</button>
      {% endform %}
    </div>
  </div>

  <div class="newsletter-form newsletter-error hidden">
    {{'email.validation.failed' | t}}
  </div>

  <div class="newsletter-form newsletter-submit hidden" data-on-submit>
    {{section.settings.form}}
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  var selector = "[data-section-id='{{section.id}}'] .subscribe_url";
  [].forEach.call(document.querySelectorAll(selector), function(el) {
    el.addEventListener('click', function(e) {
      e.preventDefault();
      var url_company = this.value;
      var email = this.parentNode.querySelector('[name="url"]').value;
      var authenticity_token = this.parentNode.querySelector('[name="authenticity_token"]').value;

      var request = new XMLHttpRequest();
      request.open('POST', url_company, true);
      request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
      request.onload = function() {
        if (request.status >= 200 && request.status < 300 || request.status === 304 ) {
          document.querySelector("[data-section-id='{{section.id}}'] .newsletter-input").classList.add('hidden');
          document.querySelector("[data-section-id='{{section.id}}'] .newsletter-error").classList.add('hidden');
          document.querySelector("[data-section-id='{{section.id}}'] .newsletter-submit").classList.remove('hidden');
        } else {
          document.querySelector("[data-section-id='{{section.id}}'] .newsletter-error").classList.remove('hidden');
        }
      };
      request.send("email="+encodeURIComponent(email)+"&authenticity_token="+encodeURIComponent(authenticity_token));
    })
  })
});
</script>
</section>
