<section data-section-id="{{section.id}}" data-type="newsletter"{% if section.settings.section_width == 'full-width' %} class="full-width"{% endif %}>
  <div class="background"></div>

  <div class="newsletter-container">
    {% if section.settings.title != blank %}
    <h2 class="general-title" data-theme-editor-setting="title" >{{section.settings.title}}</h2>
    {% endif %}

    <div data-form>
      <div class="grid">
        {% if section.settings.text != blank %}
        <div class="text-content general-text" data-theme-editor-setting="text" > {{section.settings.text}}</div>
        {% endif %}
      </div>

      <input id="subscribe_url" type="hidden" name="url" value="{{ paths.add_subscriber }}?email_marketing={{ section.settings.email_marketing}}">
    </div>

    {% if section.settings.form != blank %}
    <div class="hidden" data-on-submit>
      {{section.settings.form}}
    </div>
    {% endif %}

  </div>
</section>
