{% assign product = products[section.settings.product] %}
{% assign default_variant = product.variants.first %}

{% case section.settings.image_size %}
  {% when 'large' %}
    {% assign image_class = 'desk--three-quarters' %}
    {% assign text_class = 'desk--one-quarter' %}
  {% when 'small' %}
    {% assign image_class = 'desk--one-quarter' %}
    {% assign text_class = 'desk--three-quarters' %}
  {% else %}
    {% assign image_class = 'desk--one-half' %}
    {% assign text_class = 'desk--one-half' %}
{% endcase %}

<section data-section-id="{{section.id}}" data-type="product" class="image-size-{{section.settings.image_size}}{% if section.settings.section_width == 'full-width' %} full-width{% endif %}" itemtype="http://schema.org/Product" data-currency-symbol="{{shop.currency.symbol}}" data-currency-code="{{shop.currency.code}}">
  <meta itemprop="url" content="{{url.current_url}}">
  <meta itemprop="image" content="{{product.image.size-2048.url}}">
  <div class="grid">
    <div class="grid__item one-whole lap--one-half {{image_class}}">
      <a href="{{product.url}}" class="image{% if product.image.size-480.url != blank %} with-image{% endif %}">
        {% if product.image %}
        {% assign image = product.image.url %}
        <img class="lazyload"
             data-src="{{image | image_size: 'size-1728'}}"
             {% if image.width %}data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1950, 2100, 2260, 2450, 2700, 3000, 3350, 3750, 4100]"
             data-srcset="{% include 'srcset' with 18 %}"{% endif %}>
        {% else %}
        <img src="{{'images/placeholder.svg' | asset_url}}">
        {% endif %}
      </a>
    </div><!--

    --><div class="grid__item one-whole lap--one-half {{text_class}} product-container">
      <h2 class="product-title general-title">
        <a href="{{product.url}}">{% if product %}{{product.name}}{% else %}{{'section.default.product_name' | t}}{% endif %}</a>
      </h2>

      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" data-product-form>
        {% if product %}
        <meta itemprop="priceCurrency" content="{{shop.currency.code}}">
        <link itemprop="availability" href="http://schema.org/{% if product.available? %}InStock{% else %}OutOfStock{% endif %}">
        {% endif %}

        {% include 'product_form' %}

      </div>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      new VariantSelector("[data-section-id='{{section.id}}']");
    });
  </script>

</section>
