<section data-section-id="{{section.id}}" data-type="slideshow" class="section-height {{section.settings.section_height}}{% if section.settings.section_width == 'full-width' %} full-width{% endif %}">
  <div class="{% if section.blocks.size > 1 %} slideshow{% endif %}" data-autoplay="{{section.settings.auto_rotate}}" data-animation-speed="{{section.settings.animation_speed}}">

    {% for block in section.blocks %}
    <div data-section-block-id="{{block.id}}" class="slide opacity-image-container{% if block.settings.image != blank %} with-background{% endif %}{% if block.settings.video != blank %} with-video{% endif %}{% if block.settings.text_size == 'large' %} text-large{% endif %}">
      {% if block.settings.video == blank %}
      {% assign image = block.settings.image %}
      <div class="lazyload opacity-image{% if block.settings.image %} image-align-{{block.settings.image_alignment}}" data-bgset="{% include 'srcset' %}" data-parent-fit="cover" data-sizes="auto{% endif %}"></div>
      {% endif %}
      {% if block.settings.slide_link != blank %}<a href="{{block.settings.slide_link}}">{% else %}<div class="container">{% endif %}
        {% if block.settings.video %}
        {% if block.settings.video contains 'vimeo.com' %}
        <iframe data-src="https://player.vimeo.com/video/{{block.settings.video | replace: 'https://vimeo.com/', ''}}" frameborder="0" class="lazyload" data-video-full-size webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        {% elsif block.settings.video contains 'youtube.com' %}
        {% assign youtube = block.settings.video | replace: 'https://www.youtube.com/watch?v=', 'https://www.youtube.com/embed/' %}
        <iframe data-src="{{youtube}}" frameborder="0" data-video-full-size allowfullscreen class="lazyload"></iframe>
        {% endif %}
        {% endif %}
        <div class="text">
          {% if block.settings.heading %}
          <h3 class="general-title{% if block.settings.text_style == 'dark' %} text-dark{% endif %}" data-theme-editor-block-setting='heading' >{{block.settings.heading}}</h3>
          {% endif %}
          {% if block.settings.subheading %}
          <div class="text-content general-text{% if block.settings.text_style == 'dark' %} text-dark{% endif %}" data-theme-editor-block-setting='subheading'>{{block.settings.subheading}}</div>
          {% endif %}
          {% if block.settings.slide_link != blank and block.settings.button_text != blank %}
          <button class="button primary">
            {{block.settings.button_text | escape}}
          </button>
          {% endif %}
        </div>
      {% if block.settings.slide_link != blank %}</a>{% else %}</div>{% endif %}

      {% if block.settings.video != blank %}
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          slideVideoResize('{{section.id}}', '{{block.id}}');
        });
        window.addEventListener('resize', function() {
          slideVideoResize('{{section.id}}', '{{block.id}}');
        });
      </script>
      {% endif %}

    </div>
    {% endfor %}

  </div>

  <script>
  var selector = "[data-section-id='{{section.id}}'] .slideshow",
      show = document.querySelector(selector),
      autoplay = show.dataset.autoplay,
      animationSpeed = show.dataset.animationSpeed * 1000;

  var slider = tns({
    container: selector,
    items: 1,
    slideBy: 'page',
    arrowKeys: true,
    controlsText: ['<div class="slideshow-prev"><i class="icon-arrow slider"></i></div>', '<div class="slideshow-next"><i class="icon-arrow slider next"></i></div>'],
    mouseDrag: true,
    autoplayTimeout: animationSpeed,
    lazyload: true
  });
  </script>

</section>
