<section data-section-id="{{section.id}}" data-type="slideshow" class="section-height {{section.settings.section_height}}{% if section.settings.text_size == 'large' %} text-large{% endif %}{% if section.settings.section_width == 'full-width' %} full-width{% endif %}">
  <div class="{% if section.blocks.size > 1 %} slideshow{% endif %}" data-autoplay="{{section.settings.auto_rotate}}" data-animation-speed="{{section.settings.animation_speed}}" data-arrow-image="{{'images/icons.svg' | asset_url}}">

    {% for block in section.blocks %}
    <div data-section-block-id="{{block.id}}" class="slide opacity-image-container{% if block.settings.image != blank %} with-background{% endif %}{% if block.settings.video != blank %} with-video{% endif %}">
      {% if block.settings.video == blank %}
      <div class="opacity-image{% if block.settings.image %} image-align-{{block.settings.image_alignment}}{% endif %}" style="background-image: {% if block.settings.image != blank %}url('{{block.settings.image}}'), {% endif %}url('{{'images/placeholder.svg' | asset_url}}')"></div>
      {% endif %}
      {% if block.settings.slide_link != blank %}<a href="{{block.settings.slide_link}}">{% else %}<div class="container">{% endif %}
        {% if block.settings.video %}
        <iframe src="{{block.settings.video}}" frameborder="0" allowfullscreen></iframe>
        {% endif %}
        <div class="text">
          {% if block.settings.heading %}
          <h3 class="general-title{% if block.settings.text_style == 'dark' %} text-dark{% endif %}" data-theme-editor-block-setting='heading' >{{block.settings.heading}}</h3>
          {% endif %}
          {% if block.settings.subheading %}
          <div class="text-content general-text{% if block.settings.text_style == 'dark' %} text-dark{% endif %}" data-theme-editor-block-setting='subheading'>{{block.settings.subheading}}</div>
          {% endif %}
          {% if block.settings.slide_link != blank and block.settings.button_text != blank %}
          <button href="{{section.settings.button_link}}" class="button primary">
            {{block.settings.button_text | escape}}
          </button>
          {% endif %}
        </div>
      {% if block.settings.slide_link != blank %}</a>{% else %}</div>{% endif %}
    </div>
    {% endfor %}

  </div>

  <script>
    $(document).ready(function() {
      $("[data-section-id='{{section.id}}'] .slideshow").each(function() {
        var autoPlay = $(this).data('autoplay'),
            animationSpeed = $(this).data('animation-speed');

        $(this).slick({
          dots: true,
          autoplay: autoPlay,
          prevArrow: '<div class="slick-prev"><svg class="icon-arrow-back"><use xlink:href="' + $(this).data('arrow-image') + '#icon-arrow"></use></svg></div>',
          nextArrow: '<div class="slick-next"><svg class="icon-arrow-next"><use xlink:href="' + $(this).data('arrow-image') + '#icon-arrow"></use></svg></div>',
          autoplaySpeed: animationSpeed * 1000,
          lazyLoad: 'ondemand'
        });
      });
      slideVideoResize();
    });
  </script>
</section>
