<section data-section-id="{{section.id}}" data-type="slideshow" class="section-height {{section.settings.section_height}}{% if section.settings.section_width == 'full-width' %} full-width{% endif %}">
  <div class="{% if section.blocks.size > 1 %} slideshow{% endif %}" data-autoplay="{{section.settings.auto_rotate}}" data-animation-speed="{{section.settings.animation_speed}}" data-arrow-image="{{'images/icons.svg' | asset_url}}">

    {% for block in section.blocks %}
    <div data-section-block-id="{{block.id}}" class="slide opacity-image-container{% if block.settings.image != blank %} with-background{% endif %}{% if block.settings.video != blank %} with-video{% endif %}{% if block.settings.text_size == 'large' %} text-large{% endif %}">
      {% if block.settings.video == blank %}
      {% assign image = block.settings.image %}
      <div class="lazyload opacity-image{% if block.settings.image %} image-align-{{block.settings.image_alignment}}" data-bgset="{% include 'srcset' %}" data-parent-fit="cover" data-sizes="auto{% endif %}"></div>
      {% endif %}
      {% if block.settings.slide_link != blank %}<a href="{{block.settings.slide_link}}">{% else %}<div class="container">{% endif %}
        {% if block.settings.video %}
        {% if block.settings.video contains 'vimeo.com' %}
        <iframe data-src="https://player.vimeo.com/video/{{block.settings.video | replace: 'https://vimeo.com/', ''}}" frameborder="0" class="lazyload" data-video-full-size webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        {% elsif block.settings.video contains 'youtube.com' %}
        {% assign youtube = block.settings.video | replace: 'https://www.youtube.com/watch?v=', 'https://www.youtube.com/embed/' %}
        <iframe data-src="{{youtube}}" frameborder="0" data-video-full-size allowfullscreen class="lazyload"></iframe>
        {% endif %}
        {% endif %}
        <div class="text">
          {% if block.settings.heading %}
          <h3 class="general-title{% if block.settings.text_style == 'dark' %} text-dark{% endif %}" data-theme-editor-block-setting='heading' >{{block.settings.heading}}</h3>
          {% endif %}
          {% if block.settings.subheading %}
          <div class="text-content general-text{% if block.settings.text_style == 'dark' %} text-dark{% endif %}" data-theme-editor-block-setting='subheading'>{{block.settings.subheading}}</div>
          {% endif %}
          {% if block.settings.slide_link != blank and block.settings.button_text != blank %}
          <button class="button primary">
            {{block.settings.button_text | escape}}
          </button>
          {% endif %}
        </div>
      {% if block.settings.slide_link != blank %}</a>{% else %}</div>{% endif %}

      {% if block.settings.video != blank %}
      <script>
/*
        $(document).ready(function() {
          slideVideoResize('{{section.id}}', '{{block.id}}');
        });
        window.onresize = function() {
          slideVideoResize('{{section.id}}', '{{block.id}}');
        };
*/
      </script>
      {% endif %}

    </div>
    {% endfor %}

  </div>

  <script>
  var slider = tns({
    container: "[data-section-id='{{section.id}}'] .slideshow",
    items: 1,
    slideBy: 'page',
    arrowKeys: true,
    controlsText: ['<div class="slideshow-prev"><svg class="icon-arrow-back"><use xlink:href="' + document.querySelector("[data-section-id='{{section.id}}'] .slideshow").dataset.arrowImage + '#icon-arrow"></use></svg></div>', '<div class="slideshow-next"><svg class="icon-arrow-next"><use xlink:href="' + document.querySelector("[data-section-id='{{section.id}}'] .slideshow").dataset.arrowImage + '#icon-arrow"></use></svg></div>'],
    mouseDrag: true
  });
  </script>

  <script>
/*
    $(document).ready(function() {
      $("[data-section-id='{{section.id}}'] .slideshow").each(function() {
        var autoPlay = $(this).data('autoplay'),
            animationSpeed = $(this).data('animation-speed');

        $(this).slick({
          dots: true,
          autoplay: autoPlay,
          prevArrow: '<div class="slick-prev"><svg class="icon-arrow-back"><use xlink:href="' + $(this).data('arrow-image') + '#icon-arrow"></use></svg></div>',
          nextArrow: '<div class="slick-next"><svg class="icon-arrow-next"><use xlink:href="' + $(this).data('arrow-image') + '#icon-arrow"></use></svg></div>',
          autoplaySpeed: animationSpeed * 1000,
          lazyLoad: 'ondemand'
        });
      });
    });
*/
  </script>
</section>
