{% if section.blocks.size > 3 %}
{% assign slider = ' testimonial-slider' %}
{% endif %}

{% case section.blocks.size %}
  {% when 2 %}
    {% assign grid_class = 'lap--one-half desk--one-half' %}
  {% when 3 %}
    {% assign grid_class = 'lap--one-half desk--one-third' %}
  {% else %}
    {% assign grid_class = 'lap--one-whole desk--one-whole' %}
{% endcase %}

<section data-section-id="{{section.id}}" data-type="testimonials"{% if section.settings.section_width == 'full-width' %} class="full-width"{% endif %}>
  {% if section.settings.title != blank %}
  <h2 class="general-title" data-theme-editor-setting="title">{{section.settings.title}}</h2>
  {% endif %}

  {% if section.blocks.size > 0 %}
  <div class="grid{{slider}}">
    {% for block in section.blocks %}
    {% if forloop.first != true %}-->{% endif %}<div  data-section-block-id="{{block.id}}" class="testimonial grid__item one-whole {{grid_class}}">
      <div class="testimonial-quote" data-theme-editor-block-setting='quote'>{{block.settings.quote}}</div>
      {% if block.settings.author %}
      <div class="testimonial-author" data-theme-editor-block-setting='author' >{{block.settings.author}}</div>
      {% endif %}
    </div>{% if forloop.last != true %}<!--{% endif %}
    {% endfor %}
  </div>
  {% endif %}
</section>
