{% if section.blocks.size > 3 %}
{% assign slider = ' testimonial-slider' %}
{% endif %}

<section data-section-id="{{section.id}}" data-type="testimonials">
  {% if section.settings.title != blank %}
  <div class="row">
    <div class="column">
      <h2 class="general-title">{{section.settings.title}}</h2>
    </div>
  </div>
  {% endif %}

  {% if section.blocks.size > 0 %}
  <div class="row{{slider}}">
    {% for block in section.blocks %}
    <div class="testimonial small-20 large-6">
      <div class="testimonial-quote">{{block.settings.quote}}</div>
      {% if block.settings.author %}
      <div class="testimonial-author">{{block.settings.author}}</div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  {% endif %}
</section>
