{% if section.blocks.size > 3 %}
{% assign slider = ' testimonial-slider' %}
{% endif %}

{% case section.blocks.size %}
  {% when 2 %}
    {% assign grid_class = 'lap--one-half desk--one-half' %}
  {% when 3 %}
    {% assign grid_class = 'lap--one-half desk--one-third' %}
  {% else %}
    {% assign grid_class = 'lap--one-whole desk--one-whole' %}
{% endcase %}

<section data-section-id="{{section.id}}" data-type="testimonials"{% if section.settings.section_width == 'full-width' %} class="full-width"{% endif %}>
  {% if section.settings.title != blank %}
  <h4 class="general-title" data-theme-editor-setting="title">{{section.settings.title}}</h4>
  {% endif %}

  {% if section.blocks.size > 0 %}
  <div class="grid{{slider}}">
    {% for block in section.blocks %}
    {% unless forloop.first %}-->{% endunless %}<div  data-section-block-id="{{block.id}}" class="testimonial grid__item one-whole {{grid_class}}">
      <div class="background">{% include 'icon' with 'quote' %}</div>
      <div class="testimonial-quote" data-theme-editor-block-setting='quote'>{{block.settings.quote}}</div>
      {% if block.settings.author %}
      <div class="testimonial-author" data-theme-editor-block-setting='author' >{{block.settings.author}}</div>
      {% endif %}
    </div>{% unless forloop.last %}<!--{% endunless %}
    {% endfor %}
  </div>
  {% endif %}

  <script>
    $(document).ready(function() {
      $("[data-section-id='{{section.id}}'] .testimonial-slider").each(function() {
        $(this).slick({
          dots: true,
          arrows: false,
          slidesToShow: 3,
          slidesToScroll: 3,
          responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2
              }
            },
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 1
              }
            }
          ]
        });
      });
    });
  </script>
</section>
