<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta charset="utf-8" />
  <meta name="description" content="{{shop.meta_description}}" />
  <meta name="keywords" content="{{shop.meta_keywords}}" />
  <meta name="author" content="www.shoperb.com" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  {% if meta.title == blank %}
    {% if product %}
      {% assign title = shop.name | append: ': ' | append: product.name %}
    {% elsif template_name == 'category' %}
      {% assign title = shop.name %}
        {% for category in category.parents %}
          {% assign title = title | append: ' &raquo; ' | append: category.name %}
        {% endfor %}
      {% assign title = title | append: ' &raquo; ' | append: category.name %}
      </title>
    {% elsif template_name == 'cart' %}
      {% assign cart_title = 'cart.title' | t %}
      {% assign title = shop.name | append: ': ' | append: cart_title %}
    {% else %}
      {% assign title = shop.name %}
    {% endif %}
  {% else %}
    {% assign title = shop.meta_title | append: shop.name %}
  {% endif %}

  <title>{{title}}</title>

  {% if settings.fav_icon != blank %}
  <link rel="icon" href="{{settings.fav_icon}}">
  {% else %}
  <link rel="icon" href="{{'images/favicon/favicon.ico' | asset_url}}">
  {% endif %}

  <meta property="og:type" content="website">
  <meta property="og:title" content="{{title}}">
  <meta property="og:url" content="{{url.current_url}}">
  <meta property="og:site_name" content="{{shop.name}}">
  <meta property="og:description" content="">
  {% if product %}
  <meta property="og:description" content="{{product.description | strip_html}}">
  <meta property="og:image" content="{{product.image.size-2048.url}}">
  {% endif %}
  <link rel="canonical" href="{{url.current_url}}">

  {% assign default_fonts = "Arial,Tahoma,Verdana" | split:"," %}
  {% unless default_fonts contains settings.body_font_family %}
  <link href="https://fonts.googleapis.com/css?family={{settings.body_font_family | replace: ' ', '+' }}" rel="stylesheet">{% endunless %}
  {% unless default_fonts contains settings.heading_font_family %}
  <link href="https://fonts.googleapis.com/css?family={{settings.heading_font_family | replace: ' ', '+' }}" rel="stylesheet">{% endunless %}

  <!-- CSS concatenated and minified via ant build script-->
  {% include 'shoperb_stylesheets', stylesheets: 'application.css' | split: '|' %}
  <!-- end CSS-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
</head>

<body class="template-{{template_name | replace: '_', '-'}}">
  {% section 'header' %}

  {% unless template_name == 'index' %}<div class="main-content">{% endunless %}
    {{content_for_layout}}
  {% unless template_name == 'index' %}</div>{% endunless %}

  {% section 'footer' %}
  {{"javascripts/application.js" | asset_url | javascript_tag}}
</body>

</html>