<div class="cart-item">
  <div class="grid__item one-whole lap--four-eighths desk--five-eighths cart-col-name">
    <div class="image">
      <a href="{{item.product.url}}">
        {% if item.product.image.admin_small.url %}
        {{item.product.image.admin_small.url | image_tag: item.product.name}}
        {% endif %}
      </a>
    </div>
    <div class="cart-details">
      <a href="{{item.product.url}}">{{item.product.name}}</a>
      {% if item.variant.attributes.any? %}
      <ul>
        {% for attribute in item.variant.attributes %}
        <li>{{attribute.value}}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="cart-delete" data-remove-item>{{'cart.remove' | translate}}</div>
  </div><!--
  --><div class="grid__item one-whole lap--two-eighths desk--two-eighths cart-col-quantity">
    <div class="product-quantity-input">
      <div data-quantity="decrease">
        {% include 'icon' with 'minus' %}
      </div>
      <input id="amount" name="update[{{item.id}}]" value="{{item.quantity}}" type="number">
      <div data-quantity="increase">
        {% include 'icon' with 'plus' %}
      </div>
    </div>
  </div><!--
  --><div class="grid__item one-whole lap--two-eighths desk--one-eighth cart-col-total">
    <span class="money">{{item.total | money}}</span>
  </div>
</div>
