{% unless forloop.first %}-->{% endunless %}<div class="grid__item one-whole lap--one-half {% if collection_item == 'page' %}palm--one-half lap--one-third desk--one-quarter{% else %}{{grid_class}}{% endif %}" data-section-block-id="{{block.id}}">
  {% assign collection = collections[block.settings.collection] %}

>{{collection.image}}<br>
>{{collection.image.width}}<br>
>{{collection.image.url}}<br?

  <a class="collection opacity-image-container" href="{{collection.url}}">
    <div class="lazyload opacity-image{% if collection.image %} with-image" data-bgset="{{collection.image.url}}" data-sizes="auto{% endif %}"></div>
    <h2 class="general-title">{% if collection.name %}{{collection.name}}{% else %}{{'section.default.collection.name' | t}}{% endif %}</h2>
  </a>
</div>{% unless forloop.last %}<!--{% endunless %}{% if diff > 0 %}<!--{% endif %}
