{% assign variant = product.variants.first %}
{% assign grid = 'lap--one-half ' | append: grid_class %}
{% if list_product == 'page' %}
{% assign grid = 'palm--one-half lap--one-third desk--one-quarter' %}
{% elsif list_product == 'category' %}
{% assign grid = 'palm--one-half lap--one-third desk--one-third' %}
{% elsif list_product == 'recommended' %}
{% assign grid = 'lap--one-half desk--one-quarter' %}
{% endif %}

{% unless forloop.first %}-->{% endunless %}<div class="grid__item one-whole {{grid}} product-container">

  <a class="product" href="{{product.url}}" itemtype="http://schema.org/Product">
    <meta itemprop="url" content="{{url.current_url}}">
    <meta itemprop="image" content="{{product.image.size-2048.url}}">

    <div class="lazyload image{% if product.image %} with-image{% endif %}"{% if product.image %} data-bgset="{{product.image.size-480.url}}" data-sizes="auto"{% endif %}></div>

    <h2 class="product-title general-title" itemprop="name">{{product.name}}</h2>

    {% if product.vendor and section.settings.show_vendor %}
    <div class="product-vendor" itemprop="brand">{{product.vendor.name}}</div>
    {% endif %}

    {% if product.available? %}
    <div class="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <span class="money" itemprop="price">{{variant.current_price | money}}</span>
      <meta itemprop="priceCurrency" content="{{shop.currency.code}}">
      {% if variant.discount? %}
      <span class="discount">{{'product.was' | t}} <span class="money">{{product.price | money}}</span></span>
      {% endif %}
    </div>
    {% else %}
    <div class="not-available">{{'product.unavailable_short' | t}}</div>
    {% endif %}
    <link itemprop="availability" href="http://schema.org/{% if product.available? %}InStock{% else %}OutOfStock{% endif %}">
  </a>

</div>{% unless forloop.last %}<!--{% endunless %}
