<div class="article">
  {% if post.published_at %}
  {% assign long_date = 1 %}
  <div class="date">{% include 'date' with post.published_at %}</div>
  {% endif %}

  <h2 class="title"><a href="{{ post.url }}">{{ post.name }}</a></h2>

  {% comment %} - for the time we shall have author as well
  <div class="author">
    {{'blog.author' | t}} {{blog.author}}
  </div>
  {% endcomment %}

  <div class="blog-content">
    <div>{{post.content | truncatewords: 40}}</div>
    <div class="post-link">
      {% if list_blog_post == 'blog-list' %}
      <a href="{{post.url}}">{{'general.read_more' | t}}</a>
      {% else %}
      <a href="{{url.blog}}">{{'general.back' | t}}</a>
      {% endif %}
    </div>
  </div>
</div>
