{% assign variant = product.variants.first %}
{% assign grid = 'lap--one-half ' | append: grid_class %}
{% if list_product == 'page' %}
{% assign grid = 'palm--one-half lap--one-third desk--one-quarter' %}
{% elsif list_product == 'category' %}
{% assign grid = 'palm--one-half lap--one-third desk--one-third' %}
{% elsif list_product == 'recommended' %}
{% assign grid = 'one-half lap--one-half desk--one-quarter' %}
{% endif %}

{% unless forloop.first %}-->{% endunless %}<div class="grid__item one-whole {{grid}} product-container" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">

  <a class="product" href="{{product.url}}" itemtype="http://schema.org/Product" data-product-list-handle="{{product.handle}}">
    <meta itemprop="url" content="{{url.current_url}}{{product.url}}">
    <meta itemprop="image" content="{{product.image.size-2048.url}}">
    <meta itemprop="position" content="{{forloop.index}}">

    {% assign image = product.image %}
    <div class="lazyload image{% if product.image %} with-image" data-bgset="{% include 'srcset' with 'product' %}" data-parent-fit="cover" data-sizes="auto{% endif %}"></div>

    <h2 class="product-title general-title" itemprop="name">{{product.name}}</h2>

    {% if product.vendor and section.settings.show_vendor %}
    <div class="product-vendor" itemprop="brand">{{product.vendor.name}}</div>
    {% endif %}

    {% if product.available? %}
    <div class="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <span class="price-symbol" itemprop="priceCurrency" content="{{shop.currency.code}}">{{shop.currency.symbol}}</span>
      <span class="price-number{% if variant.discount? %} discount{% endif %}" data-current-price itemprop="price" content="{{variant.current_price | money_without_currency}}" data-currency="{{shop.currency.code}}">{{variant.current_price | money_without_currency}}</span>
      {% if variant.discount? %}
      <span>{{'product.was' | t}}</span>
      {% endif %}
      <span class="compare-price{% if variant.discount? %} visible{% endif %}">
        <span class="price-symbol">{{shop.currency.symbol}}</span>
        <span data-price data-currency="{{shop.currency.code}}">{{variant.price | money_without_currency}}</span>
      </span>
    </div>
    {% else %}
    <div class="not-available">{{'product.unavailable_short' | t}}</div>
    {% endif %}
    <link itemprop="availability" href="http://schema.org/{% if product.available? %}InStock{% else %}OutOfStock{% endif %}">
  </a>

</div>{% unless forloop.last %}<!--{% endunless %}{% if collection_size > 0 and collection_size < limit %}<!--{% endif %}
