<div class="article" itemscope itemtype="https://schema.org/BlogPosting">
  {% if post.published_at %}
  {% assign long_date = 1 %}
  <div class="date" datetime="{{date | date: "%Y-%b-%d"}}" itemprop="datePublished">{% include 'date' with post.published_at %}</div>
  {% endif %}

  <h2 class="title" temprop="name">{% if list_blog_post == 'blog-list' %}<a href="{{post.url}}" itemprop="url">{% endif %}{{post.name}}{% if list_blog_post == 'blog-list' %}</a>{% endif %}</h2>
  <meta itemprop="url" content="{{url.current_url}}">
  <meta itemprop="headline" content="{{post.name}}">


  {% comment %} - for the time we shall have author as well
  <div class="author itemprop="author">
    {{'blog.author' | t}} {{blog.author}}
  </div>
  {% endcomment %}
  <meta itemprop="author" content="{{shop.name}}">

  <div class="blog-content">
    {% if list_blog_post == 'blog-list' %}
    <div itemprop="description">{{post.content | truncatewords: 40}}</div>
    {% else %}
    <div itemprop="articleBody">{{post.content}}</div>
    {% endif %}
    <div class="post-link">
      {% if list_blog_post == 'blog-list' %}
      <a href="{{post.url}}">{{'general.read_more' | t}}</a>
      {% else %}
      <a href="{{url.blog}}">{{'general.back' | t}}</a>
      {% endif %}
    </div>
  </div>
</div>
