<ul>
  <li class="nav-item">
    {{'breadcrumb.home' | t | link_to_root}}
  </li>

  <li class="nav-item">
    <a href="{{url.products}}">
      <span>{{'header.catalog' | t}}</span>
    </a>
    {% if menu != 'first-level-only' %}
    <ul>
      <li><a href="{{url.products}}">{{'header.all' | t}}</a></li>
      {% for category in categories.roots %}
      <li><a href="{{category.url}}">{{category.name}}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </li>

  <li class="nav-item">
    <a class="disabled">
      <span>{{'header.collections' | t}}</span>
    </a>
    {% if menu != 'first-level-only' %}
    <ul>
      {% for collection in collections %}
      <li><a href="{{collection.url}}">{{collection.name}}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </li>

  <li class="nav-item">
    <a class="nav-item-link" href="{{url.blog}}">{{'header.blog' | t}}</a>
  </li>
</ul>
