{% if paginate.pages > 1 %}
<div class="pagination">

  <ul>
    <li class="prev">{% if paginate.previous %}<a href="{{paginate.previous.url}}">{% endif %}<i class="icon-arrow-narrow pagination-icon"></i>{{'navigation.previous' | t}}{% if paginate.previous %}</a>{% endif %}</li>

    {% for part in paginate.parts %}
      {% if part.is_link %}
        <li>{{ part.title | link_to: part.url }}</li>
      {% else %}
        {% if part.title == '&hellip;' %}
        <li class="ellipsis disabled"><a href="#" onclick="return false;">{{ part.title }}</a></li>
        {% else %}
        <li class="active">{{part.title}}</li>
        {% endif %}
      {% endif %}
    {% endfor %}

    <li class="next">{% if paginate.next %}<a href="{{paginate.next.url}}">{% endif %}{{'navigation.next' | t}}<i class="icon-arrow-narrow pagination-icon"></i>{% if paginate.next %}</a>{% endif %}</li>
  </ul>

</div>
{% endif %}