{% if product.available? %}
    <article class="preview-product columns large-4 {% cycle 'first', 'second', 'third' %}">
        <div class="inner">
            {% if product.images.any? %}
                <div class="picture">{{ product.image.size-480.url | image_tag: product.name }}</div>
            {% else %}
                <div class="picture">{{ 'kondiiter-placeholder-300x370.jpg' | asset_url | image_tag: product.name }}</div>
            {% endif %}
            <div class="text-content">
                <h2 class="name">{{ product.name }}</h2>

                <p class="description">{{ product.description | strip_html | truncate: 85 }}</p>

                {% assign variant  = product.variants.first %}
                {% assign quantity = product.attributes['quantity-description'].value %}
                <p class="quantity">{% if quantity == blank %}
                        {{ variant.weight | weight_with_unit }}
                    {% else %}
                        {{ quantity }}
                    {% endif %}</p>

                <div class="price {% if variant.discount? %}discount-price{% endif %}">{{ variant.current_price | money_with_cents }}</div>
                <div class="buttons">
                    <a class="button order-button" href="{{ product.url }}">{{ 'product.order' | t }}</a>
                </div>
            </div>
        </div>
    </article>
{% endif %}