{% assign default_variant = product.variants.first %}

<div class="product-sku{% if default_variant.sku %} visible{% endif %}" data-variant-sku-container>
  {{'product.sku' | t}}: <span data-variant-sku itemprop="sku">{{default_variant.sku}}</span>
</div>

<div class="product-vendor" itemprop="brand">
  {% if section.settings.show_vendor or block.settings.show_vendor or product_form == 'page' %}
  {% if product %}{{product.vendor.name}}{% else %}{{'section.default.vendor' | t}}{% endif %}
  {% endif %}
</div>

<div class="product-pricing">
  <span class="actual-price money{% if default_variant.discount? %} discount{% endif %}" data-current-price itemprop="price" data-currency="{{shop.currency.code}}">{% if product %}{{default_variant.current_price | money}}{% else %}{{'14.95' | money}}{% endif %}</span>

  <span class="compare-price{% if default_variant.discount? %} visible{% endif %}">
    <span class="money" data-price data-currency="{{shop.currency.code}}">{{default_variant.price | money}}</span>
  </span>
</div>

{% if product %}
{% if product.description != blank %}
<div class="product-description" data-product-description>{{product.description}}</div>
{% endif %}
{% else %}
<div class="product-description" data-product-description>{{'section.default.product_descriontion' | t}}</div>
{% endif %}

<div data-position="cart-form">
  <form class="cart-form add-to-cart-form" action="{{form_actions.cart_add}}?include[]=liquid" method="post" enctype="multipart/form-data" data-remote=true>
    <div class="variants clearfix">

      {% if product.variants.many? %}
      <select name="variant" id="variant" data-behaviour="select" data-variant-select data-show-labels="{% if product_form == 'page' %}true{% else %}{% if block.settings.show_variant_label %}{{block.settings.show_variant_label}}{% else %}{{section.settings.show_variant_label}}{% endif %}{% endif %}">
        {% for variant in product.variants %}
        <option data-variant='{{variant.json}}' value="{{variant.id}}" data-price="{{variant.price | money}}" data-discount_price="{{variant.discount_price | money}}">{{variant.name}}</option>
        {% endfor %}
      </select>

      <div class="row" data-variant-container data-icon="{{'images/icons.svg' | asset_url}}"></div>
      {% else %}
      <input type="hidden" name="variant" value="{{default_variant.id}}">
      {% endif %}
    </div>

    <div class="quanity-cart-row clearfix">
      {% if section.settings.show_quantity_selector or block.settings.show_quantity_selector or product_form == 'page' %}
      <div class="quantity">
        {% if block.settings.show_variant_label or section.settings.show_variant_label or product_form == 'page' %}
        <label class="product-form-title">{{'product.quantity' | t}}</label>
        {% endif %}
        <div class="product-quantity-input">
          <div data-quantity="decrease">
            {% include 'icon' with 'minus' %}
          </div>
          <input id="amount" name="amount" min="1" value="1">
          <div data-quantity="increase">
            {% include 'icon' with 'plus' %}
          </div>
        </div>
      </div>
      {% else %}
      <input id="amount" type="hidden" name="amount" min="1" value="1">
      {% endif %}

      <div class="add-to-cart">
        {% if product.available? %}
        <button class="button primary" type="submit">{{'product.add_to_cart' | t}}</button>
        {% else %}
        <div class="disabled-button primary">{{'product.unavailable_short' | t}}</div>
        {% endif %}
      </div>
    </div>
  </form>
</div>
