<section class="row social-share">

  {% if share_this != 'post' %}
  <div class="columns">
    <h2 class="title">{{'general.share_this' | t}}</h2>
    {% endif %}

    <a class="glyph twitter" href="http://twitter.com/home?status=Check%20out%20this:+{{url.current_url}}"><span>Tweet</span></a>
    <a class="glyph facebook" href="http://www.facebook.com/sharer.php?u={{url.current_url}}&t={{product.name}}"><span>Like</span></a>
    <a class="glyph pinterest" href="http://pinterest.com/pin/create/button/?url={{url.current_url}}&media={{product.image.size-2048.url}}&description={{product.name | replace: ' ', '%20'}}" count-layout="none"><span>Pin</span></a>
    <a class="glyph tumblr" href="http://www.tumblr.com/share/link?url={{url.current_url}}"><span>Post</span></a>
    <a class="glyph googleplus" href="https://plus.google.com/share?url={{url.current_url}}" onclick="javascript:window.open(this.href,  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><span>Plus</span></a>

  {% if share_this != 'post' %}
  </div>
  {% endif %}

</section>
