{% assign meths = "order_by_price_asc|order_by_price_desc|order_by_name_asc|order_by_name_desc" | split: "|" %}
{% assign order =  params["filter"] %}
{% unless meths contains order %}{% assign order = "order_by_name_asc" %}{% endunless %}

<form class="sorting-form" action="">
  <div class="fancy-dropdown fright">
    <div class="current">
      {{'categories.filters.no_sorting' | t}}
      {% include 'icon' with 'full-arrow-down' %}
    </div>
    <div class="fancy-dropdown-container">
      <ul>
        {% for e in meths %}
        <li data-fancy-dropdown-element>
          <label for="input-{{e}}">
            <input id="input-{{e}}" type="radio" name="filter" value="{{e}}"{% if order == e %} checked="checked"{% endif %}>
            <span>{{'categories.filters.' | append: e | t}}</span>
          </label>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</form>
