<div class="main-container account-page logged-in">
  <div class="ui grid">
    <div class="four wide column sidebar">
      {% include 'account_sidebar' with 'account' %}
    </div>

    {{addresses.size | debug}}

    <div class="twelve wide column address-content">
      <div class="eight wide column">
        <div class="form-error" data-form-error></div>

        <form action="{{form_actions.address}}" method="post">
          {{form_actions.auth_input}}

          <div class="ui grid">
            <div class="five wide column">
              <h4 class="main-title">Main Address</h4>
            </div>
            <div class="three wide column">
              <label for="set_name" class="label">{{'address.set_name' | t}}</label>
            </div>
            <div class="eight wide column">
              <input type="text" value="" name="address[set_name]" id="set_name" class="text" data-error="{{'address.error.set_name' | t}}">
            </div>

            <div class="five wide column"></div>
            <div class="three wide column">
              <label for="first_name" class="label">{{'address.first_name' | t}}</label>
            </div>
            <div class="eight wide column">
              <input type="text" value="" name="address[first_name]" id="first_name" class="text" data-error="{{'address.error.first_name' | t}}" />
            </div>

            <div class="five wide column"></div>
            <div class="three wide column">
              <label for="last_name" class="label">{{'address.last_name' | t}}</label>
            </div>
            <div class="eight wide column">
              <input type="text" value="" name="address[last_name]" id="last_name" class="text" data-error="{{'address.error.last_name' | t}}" />
            </div>

            <div class="five wide column"></div>
            <div class="three wide column">
              <label for="email" class="label">{{'address.email' | t}}</label>
            </div>
            <div class="eight wide column">
              <input type="text" data-type="email" value="" name="address[email]" id="email" class="text" data-error="{{'address.error.email' | t}}" />
            </div>

            <div class="five wide column"></div>
            <div class="three wide column">
              <label for="phone" class="label">{{'address.phone' | t}}</label>
            </div>
            <div class="eight wide column">
              <input type="text" data-type="phone" value="" name="address[phone]" id="phone" class="text" data-error="{{'address.error.phone' | t}}" />
            </div>

            <div class="five wide column"></div>
            <div class="three wide column">
              <label for="address1" class="label">{{'address.address' | t}}</label>
            </div>
            <div class="eight wide column add-line">
              <input type="text" data-type="address1" value="" name="address[address1]" id="address" class="text" data-error="{{'address.error.address1' | t}}" />
              <span class="fake-link" data-add-new-link>{{'address.add_address_line' | t}}</span>
            </div>

            <div class="five wide column hidden" data-address2></div>
            <div class="three wide column hidden" data-address2></div>
            <div class="eight wide column hidden" data-address2>
              <input type="text" data-type="address2" value="" name="address[address2]" id="address" class="text" data-error="{{'address.error.address2' | t}}" />
            </div>

            <div class="five wide column"></div>
            <div class="three wide column">
              <label for="zip" class="label">{{'address.zip' | t}}</label>
            </div>
            <div class="eight wide column">
              <input type="text" data-type="zip" value="" name="address[zip]" id="zip" class="text" data-error="{{'address.error.zip' | t}}" />
            </div>

            <div class="five wide column"></div>
            <div class="three wide column">
              <label for="country" class="label">{{'address.country' | t}}</label>
            </div>
            <div class="eight wide column">

{% assign countries = "riik_1|riik_2|riik_3|riik_4" | split: "|" %}

              <div class="select">
                <select name="address[country]" id="country">
                  {% for e in countries %}
                  <option value="{{e}}" {% if address[country] == e %}selected="selected"{% endif %}>{{e}}</option>
                  {% endfor %}
                </select>
                <div class="icon-full-arrow-down"></div>
              </div>
            </div>

            <div class="five wide column"></div>
            <div class="three wide column">
              <label for="city" class="label">{{'address.city' | t}}</label>
            </div>
            <div class="eight wide column">
              <input type="text" data-type="city" value="" name="address[city]" id="city" class="text" data-error="{{'address.error.city' | t}}" />
            </div>

            <div class="sixteen wide column separator"></div>

            <div class="five wide column">
              <form method="{{address.url}}">
                <input type="hidden" name="_type" value="delete">
                <button type="submit" class="delete-address">{{'address.delete_address' | t}}</button>
              </form>
            </div>
            <div class="three wide column"></div>
            <div class="eight wide column">
              <button class="button secondary" type="submit">{{'address.save_changes' | t}}</button>
            </div>

          </div>
        </form>
      </div>
    </div>

  </div>
</div>
