<section role="main" class="cart-page general-page">
  <div class="grid">
    <div class="grid__item one-whole">
      <h3 class="general-title">{{'cart.title' | t}}</h3>
    </div>
  </div>

  {% include "flash_message" %}

  <div class="grid">
    {% if cart.items.any? %}
    <form action="{{form_actions.cart_update}}.json?include[]=liquid" method="post" data-remote="true" id="js-cart-content">
      <div class="grid__item one-whole lap--four-eighths desk--five-eighths cart-header cart-col-name">
        <label>{{'cart.product_name' | t}}</label>
      </div><!--
      --><div class="grid__item one-whole lap--two-eighths desk--two-eighths cart-header cart-col-quantity">
        <label>{{'cart.quantity' | t}}</label>
      </div><!--
      --><div class="grid__item one-whole lap--two-eighths desk--one-eighth cart-header cart-col-total">
        <label>{{'cart.total' | t}}</label>
      </div>

      {% for item in cart.items %}
      {% include "cart_item" %}
      {% endfor %}

      <div class="grid__item one-whole lap--four-eighths desk--five-eighths cart-footer cart-col-name">
        <label>{{'cart.note_shipping' | t}}</label>
      </div><!--
      --><div class="grid__item one-whole lap--two-eighths desk--two-eighths cart-footer cart-col-quantity">
        <label>{{'cart.subtotal' | t}}</label>
      </div><!--
      --><div class="grid__item one-whole lap--two-eighths desk--one-eighth cart-footer cart-col-total">
        <label>{{cart.total | money_with_cents}}</label>
      </div>
    </form>

    <form action="{{form_actions.cart_checkout}}" method="post" id="submit-to-checkout">
      <div class="grid__item one-half lap--one-whole checkout-notes">
        <textarea name="notes" placeholder="{{'cart.notes' | t}}"></textarea>
      </div><!--
      --><div class="grid__item one-half lap--one-whole chekcout-footer">
        <button type="submit" class="button primary">{{'cart.checkout' | t}}</button>
      </div>
    </form>

    {% else %}

    <div id="empty-cart">
      <div class="empty-cart">{{'cart.empty' | t}}</div>
    </div>

    {% endif %}
  </div>
</section>
