<section role="main" class="login-page general-page">
  {% include "flash_message" %}

  <div class="account-form-container">
    <div class="account-page-container">
      <h3 class="general-title">{{'account.login' | t}}</h3>
      <div class="subtitle">{{'account.login.subtitle' | t}}</div>

      <form action="{{form_actions.new_login}}" method="post">
        {{form_actions.auth_input}}

        <div class="grid">
          <div class="grid__item one-whole">
            <input type="text" name="account[email]" placeholder="{{'account.email' | t}}"" id="email" class="text" data-error="{{'account.error.email' | t}}">
          </div>
          <div class="grid__item one-whole">
            <input type="password" name="account[password]" placeholder="{{'account.password' | t}}"" id="password" class="text" data-error="{{'account.error.password' | t}}">
          </div>
          <div class="grid__item one-whole">
            <button class="button primary" type="submit">{{'account.signin' | t}}</button>
          </div>
        </div>

      </form>
    </div>

    <div class="account-link">
      <a href="{{url.recover}}">{{'account.forgot' | t}}</a>
    </div>
  </div>
</section>
