<section class="subheader">
  <div class="columns large-12">
    {% include "crumbs" %}
  </div>
</section>

<div class="row colored-links">
	<div class="columns">
	  <h1 class="page-title">{{'general.404.title' | t}}</h1>
	  <h2>{{'general.404.description' | t}}</h2>
	  <p>
	    {{'general.404.go_back' | t}}
	    <a href="{{url.root}}">{{'general.404.homepage' | t}}</a>
	    {{'general.404.or_view' | t}}
      <a href="{{url.products}}">{{'general.404.products' | t}}</a>
	  </p>
	</div>
</div>
