<section role="main" class="orders-page general-page">
  <div class="grid">
    <div class="grid__item one-whole palm--one-third desk--one-quarter">
      <sidebar class="general-sidebar">
        {% include 'account_sidebar' with 'account' %}
      </sidebar>
    </div><!--

    --><div class="grid__item one-whole palm--two-third desk--three-quarters">
      <div class="grid">
        <div class="grid__item one-whole desk--two-quarters order-id">
          <h2>{{'order.id' | t}} {{o.name}}</h2>
        </div><!--
        --><div class="grid__item one-whole desk--one-quarter order-date">
          <label>{{'order.date_added' | t}}</label>
        </div><!--
        --><div class="grid__item one-whole desk--one-quarter order-date">
          {% assign long_date = 1 %}
          {% include 'date' with order.created_at %}
        </div>

        <div class="grid__item one-whole desk--one-quarter">
          <label>{{'order.payment_method' | t}}:</label>
        </div><!--
        --><div class="grid__item one-whole desk--one-quarter">
          <div>{{order.payment_method}}Swedbank pangalink</div>
        </div><!--
        --><div class="grid__item one-whole desk--one-quarter">
          <label>{{'order.shipping_method' | t}}:</label>
        </div><!--
        --><div class="grid__item one-whole desk--one-quarter">
          <div>{{order.shipping_method}}</div>
        </div>

        <div class="general-separator"></div>

        <div class="grid__item one-whole desk--one-quarter">
          <label>{{'order.billing_address' | t}}:</label>
        </div><!--
        --><div class="grid__item one-whole desk--one-quarter">
          <div>{{order.billing_address.first_name}} {{order.billing_address.last_name}}</div>
          <div>{{order.billing_address.company}}</div>
          <div>{{order.billing_address.phone}}</div>
          <div>{{order.billing_address.email}}</div>
          <div>{{order.billing_address.address1}}{% if order.billing_address.address1.size > 0 and order.billing_address.address2.size > 0 %}, {% endif %}{{order.billing_address.address2}}</div>
          <div>{{order.billing_address.zip}}{% if order.billing_address.zip.size > 0 and order.billing_address.city.size > 0 %}, {% endif %}{{order.billing_address.city}}</div>
          <div>{{order.billing_address.county}}{% if order.billing_address.county.size > 0 and order.billing_address.country.size > 0 %}, {% endif %}{{order.billing_address.country}}</div>
        </div><!--
        --><div class="grid__item one-whole desk--one-quarter">
          <label>{{'order.shipping_address' | t}}:</label>
        </div><!--
        --><div class="grid__item one-whole desk--one-quarter">
          <div>{{order.shipping_address.first_name}} {{order.shipping_address.last_name}}</div>
          <div>{{order.shipping_address.company}}</div>
          <div>{{order.shipping_address.phone}}</div>
          <div>{{order.shipping_address.email}}</div>
          <div>{{order.shipping_address.address1}}{% if order.shipping_address.address1.size > 0 and order.shipping_address.address2.size > 0 %}, {% endif %}{{order.shipping_address.address2}}</div>
          <div>{{order.shipping_address.zip}}{% if order.shipping_address.zip.size > 0 and order.shipping_address.city.size > 0 %}, {% endif %}{{order.shipping_address.city}}</div>
          <div>{{order.shipping_address.county}}{% if order.shipping_address.county.size > 0 and order.shipping_address.country.size > 0 %}, {% endif %}{{order.shipping_address.country}}</div>
        </div>

        <div class="general-separator"></div>

        <div class="grid__item one-whole">
          <h2>{{'order.ordered_items' | t}}</h2>
        </div>

        <div class="order-header">
          <div class="grid__item one-whole lap--two-fifths desk--two-fifths order-header">
            <label>{{'order.product_name' | t}}</label>
          </div><!--
          --><div class="grid__item one-whole lap--one-fifth desk--one-fifth order-price order-header">
            <label>{{'order.price' | t}}</label>
          </div><!--
          --><div class="grid__item one-whole lap--one-fifth desk--one-fifth order-quantity order-header">
            <label>{{'order.quantity' | t}}</label>
          </div><!--
          --><div class="grid__item one-whole lap--one-fifth desk--one-fifth order-price order-header">
            <label>{{'order.total' | t}}</label>
          </div>
        </div>

        {% for item in order.items %}
        <div class="order-item">
          <div class="grid__item one-whole lap--two-fifths desk--two-fifths">
            <div class="image">
              {% if item.image %}
              <img src="{{item.image}}" alt="{{item.name}}">
              {% endif %}
            </div>
            <div class="details">
              <div class="name">
                {{item.name}}
              </div>
              {% if item.attributes.size %}
              <div class="variants">
                <ul>
                  {% for variant in item.attributes %}
                  <li>{{ variant.name }} : {{ variant.value }}</li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
            </div>
          </div><!--
          --><div class="grid__item one-whole lap--one-fifth desk--one-fifth order-price">
            {{item.price | money_with_cents}}
          </div><!--
          --><div class="grid__item one-whole lap--one-fifth desk--one-fifth order-quantity">
            {{item.quantity}}
          </div><!--
          --><div class="grid__item one-whole lap--one-fifth desk--one-fifth order-price">
            {{item.total | money_with_cents}}
          </div>
        </div>
        {% endfor %}

        <div class="order-footer">
          <div class="grid__item one-whole lap--three-fifths desk--three-fifths order-footer"></div><!--
          --><div class="grid__item one-whole lap--one-fifth desk--one-fifth order-quantity order-footer">
            <label>{{'order.subtotal' | t}}</label>
          </div><!--
          --><div class="grid__item one-whole lap--one-fifth desk--one-fifth order-price order-footer">
            <label>{{order.subtotal | money_with_cents}}</label>
          </div>

          <div class="grid__item one-whole lap--three-fifths desk--three-fifths order-footer"></div><!--
          --><div class="grid__item one-whole lap--one-fifth desk--one-fifth order-quantity order-footer">
            <label>{{'order.tax' | t}}</label>
          </div><!--
          --><div class="grid__item one-whole lap--one-fifth desk--one-fifth order-price order-footer">
            <label>{{order.total_taxes | money_with_cents}}</label>
          </div>

          <div class="grid__item one-whole lap--three-fifths desk--three-fifths order-footer"></div><!--
          --><div class="grid__item one-whole lap--one-fifth desk--one-fifth order-quantity order-footer">
            <label>{{'order.shipping' | t}}</label>
          </div><!--
          --><div class="grid__item one-whole lap--one-fifth desk--one-fifth order-price order-footer">
            <label>{{order.total_shipping | money_with_cents}}</label>
          </div>

          <div class="grid__item one-whole lap--three-fifths desk--three-fifths order-footer"></div><!--
          --><div class="grid__item one-whole lap--one-fifth desk--one-fifth order-quantity order-footer order-total">
            <label>{{'order.full_total' | t}}</label>
          </div><!--
          --><div class="grid__item one-whole lap--one-fifth desk--one-fifth order-price order-footer order-total">
            <label>{{order.total | money_with_cents}}</label>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

