<section role="main" class="orders-page general-page">
  <div class="grid">
    <div class="grid__item one-whole palm--one-third desk--one-quarter">
      <sidebar class="general-sidebar">
        {% include 'account_sidebar' with 'account' %}
      </sidebar>
    </div><!--

    --><div class="grid__item one-whole palm--two-third desk--three-quarters">
      <div class="grid">
        {% for o in orders %}
        {% unless forloop.first %}
        <div class="general-separator"></div>
        {% endunless %}

        <div class="grid__item one-whole desk--three-quarters order-id">
          <h2>{{'order.id' | t}} {{o.name}}</h2>
        </div><!--
        --><div class="grid__item one-whole desk--one-quarter order-view-details">
          <a href="{{o.url}}">
            {{'order.link' | t}}
            <i class="icon-arrow-narrow"></i>
          </a>
        </div>

        {% comment %}
        <div class="grid__item one-whole desk--one-third order-date">
          <label>{{'order.date_added' | t}}</label>
          <div>{% include 'date' with o.created_at %}</div>
        </div><!--
        --><div class="grid__item one-whole desk--one-third order-quantity">
          <label>{{'order.products' | t}}</label>
          <div>{{order.items}} {% if order.items > 1 %}{{'order.items' | t}}{% else %}{{'order.item' | t}}{% endif %}</div>
        </div><!--
        --><div class="grid__item one-whole desk--one-third order-price">
          <label>{{'order.total' | t}}</label>
          <div>{{o.total | money_with_cents}}</div>
        </div>
        {% endcomment %}

        <div class="grid__item one-whole desk--one-half order-date">
          <label>{{'order.date_added' | t}}</label>
          <div>{% include 'date' with o.created_at %}</div>
        </div><!--
        --><div class="grid__item one-whole desk--one-half order-price">
          <label>{{'order.total' | t}}</label>
          <div>{{o.total | money_with_cents}}</div>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>
</div>
