<section class="subheader">
  <div class="columns large-12">
    {% include "crumbs" %}
  </div>
</section>

{% include "flash_message" %}

<div class="account-content">
  <div id="customer-login">
    <div class="row">
      <div id="recover-password" class="columns large-7">
        <h1 class="page-title">Reset Password</h1>
        <p class="note">We will send you an email to reset your password.</p>

        <form method="post" action="{{ form_actions.password_change }}">
          {{form_actions.auth_input}}
          <input type="hidden" name="token" value="{{params.token}}">

          <div id="password" class="clearfix large_form">
            <label for="password" class="label">{{ 'account.password' | t }}</label>
            <input type="password" value="" name="password" id="password" class="text">
          </div>

          <div id="password_confirmation" class="clearfix large_form">
            <label for="password_confirmation" class="label">{{ 'account.password_confirmation' | t }}</label>
            <input type="password" value="" name="password_confirmation" id="password_confirmation" class="text">
          </div>

          <div class="action_bottom">
            <input class="button" type="submit" value="Submit">
            <span class="note">or <a href="{{url.login}}">Cancel</a></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
