{% include "flash_message" %}

<div class="account-page background-container">
  <div class="account-form">
    <h3 class="main-title center">{{'account.reset_password' | t}}</h3>
    <div class="subtitle">{{'account.reset_password.subtitle' | t}}</div>

    <form action="{{form_actions.password_request}}" method="post">
      {{form_actions.auth_input}}

      <div class="ui grid">
        <div class="sixteen wide column">
          <input type="text" name="email" placeholder="{{'account.email' | t}}"" id="email" class="text" data-error="{{'account.error.email' | t}}">
        </div>
        <div class="sixteen wide column">
          <button class="button primary" type="submit">{{'account.request' | t}}</button>
        </div>
      </div>

    </form>
  </div>
</div>
