<section role="main" class="password-recover-page general-page">
  {% include "flash_message" %}

  <div class="account-form-container">
    <div class="account-page-container">
      <h3 class="general-title">{{'account.reset_password' | t}}</h3>
      <div class="subtitle">{{'account.reset_password.subtitle' | t}}</div>

      <form action="{{form_actions.password_request}}" method="post">
        {{form_actions.auth_input}}

        <div class="grid">
          <div class="grid__item one-whole">
            <input type="text" name="email" placeholder="{{'account.email' | t}}"" id="email" class="text" data-error="{{'account.error.email' | t}}">
          </div>
          <div class="grid__item one-whole">
            <button class="button primary" type="submit">{{'account.request' | t}}</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</section>
