<div class="main-container account-page logged-in">
  <div class="ui grid categories">
    <div class="four wide column sidebar">
      {% include 'account_sidebar' with 'account' %}
    </div>

    <div class="twelve wide column account-content">
      <div class="eight wide column">
        <div class="form-error" data-form-error></div>

        <form action="{{form_actions.account}}" method="post">
          {{form_actions.auth_input}}

          <div class="ui grid">
            <div class="five wide column">
              <h4 class="main-title">{{'account.change_password' | t}}</h4>
            </div>
            <div class="three wide column">
              <label for="password" class="label">{{'account.password' | t}}</label>
            </div>
            <div class="eight wide column">
              <input type="password" data-type="password" value="" name="account[password]" id="password" class="password text" data-error="{{'account.error.password' | t}}" />
            </div>

            <div class="five wide column"></div>
            <div class="three wide column">
              <label for="password_confirmation" class="label">{{'account.password_confirmation' | t }}</label>
            </div>
            <div class="eight wide column">
              <input type="password" data-type="password_confirmation" value="" name="account[password_confirmation]" id="password_confirmation" class="password text" data-error="{{'account.error.password_confirmation' | t}}" />
            </div>

            <div class="five wide column"></div>
            <div class="three wide column"></div>
            <div class="eight wide column">
              <button class="button secondary" type="submit">{{'account.save_changes' | t}}</button>
            </div>

          </div>
        </form>

      </div>
    </div>
  </div>
</div>
