<section role="main" class="password-recover-page general-page">
  {% include "flash_message" %}

  <div class="account-form-container">
    <div class="account-page-container">
      <h3 class="general-title">{{'account.reset_password' | t}}</h3>

      <form action="{{form_actions.password_change}}" method="post">
        {{form_actions.auth_input}}
        <input type="hidden" name="token" value="{{params.token}}">

        <div class="grid">
          <div class="grid__item one-whole">
            <input type="password" name="password" placeholder="{{'account.password' | t}}" id="password" class="text" data-error="{{'account.error.password' | t}}">
          </div>
          <div class="grid__item one-whole">
            <input type="password" name="password_confirmation" placeholder="{{'account.password_confirmation' | t}}" id="password_confirmation" class="text" data-error="{{'account.error.password_confirmation' | t}}">
          </div>
          <div class="grid__item one-whole">
            <button class="button primary" type="submit">{{'account.save' | t}}</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</section>
