{% include "flash_message" %}

<div class="account-page background-container">
  <div class="account-form">
    <h3 class="main-title center">{{'account.reset_password' | t}}</h3>

    <form action="{{form_actions.password_change}}" method="post">
      {{form_actions.auth_input}}
      <input type="hidden" name="token" value="{{params.token}}">

      <div class="ui grid">
        <div class="sixteen wide column">
          <input type="password" name="password" placeholder="{{'account.password' | t}}" id="password" class="text" data-error="{{'account.error.password' | t}}">
        </div>
        <div class="sixteen wide column">
          <input type="password" name="password_confirmation" placeholder="{{'account.password_confirmation' | t}}" id="password_confirmation" class="text" data-error="{{'account.error.password_confirmation' | t}}">
        </div>
        <div class="sixteen wide column">
          <button class="button primary" type="submit">{{'account.save' | t}}</button>
        </div>
      </div>

    </form>
  </div>
</div>
