{% assign default_variant = product.available_variants.first %}

{% assign selector = product.url | replace: '/', '-' %}

<section role="main" class="product-page general-page">
  <article class="product-container" id="{{selector}}" itemscope="" itemtype="http://schema.org/Product" data-product-details data-currency-symbol="{{shop.currency.symbol}}" data-currency-code="{{shop.currency.code}}" data-product-handle="{{product.handle}}">
    <meta itemprop="url" content="{{url.current_url}}">
    <meta itemprop="image" content="{{product.image.size-2048.url}}">

    <div class="grid">
      <div class="grid__item one-whole desk--one-half product-images">

        <div data-position="thumbs" class="thumbs">
          {% for image in product.images %}
          <div class="thumb{% if forloop.first == true %} active{% endif %}" data-image="{{forloop.index}}" data-imageurl="{{image.size-2048.url}}">{{image.admin_small.url | image_tag: product.name}}</div>
          {% endfor %}
        </div>

        <div data-position="photos" class="photos">
          <div class="container">
            {% for image in product.images %}
            <div class="lazyload photo{% if forloop.first %} visible{% endif %}" data-bgset="{{image.size-2048.url}}" data-image="full-{{forloop.index}}" data-image-zoom>
              <img class="lazyload"
                   data-src="{{image.size-480.url}}"
                   data-srcset="{% include 'srcset' with 'product' %}"
                   alt="{{product.name | escape}}">
            </div>
            {% endfor %}
          </div>
        </div>
      </div><!--
      --><div class="grid__item one-whole desk--one-half product-details">
        <h1 class="product-title general-title">{{product.name}}</h1>

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" data-product-form>
          {% if product %}
          <meta itemprop="priceCurrency" content="{{shop.currency.code}}">
          <link itemprop="availability" href="http://schema.org/{% if product.available? %}InStock{% else %}OutOfStock{% endif %}">
          {% endif %}

          {% include 'product_form' with 'page' %}
        </div>
      </div>
    </div>

  </article>

  {% include 'recommended_products' %}
</div>

<div class="product-gallery-container">
  <div class="product-gallery-overlay"></div>
  <div class="product-gallery-content">
    <div data-close-gallery>
      {% include 'icon' with 'plus' %}
    </div>
    <div class="product-gallery" data-arrow-image="{{'images/icons.svg' | asset_url}}"></div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
/*
  VariantSelector("#{{selector}}")
*/
});
</script>
