<div class="main-container search-page">
  <h2 class="main-title center">{{'search' | t}}</h2>

  <div class="ui grid">
    <div class="ten wide column">
      {% if params.query %}
      <span>{{'search.results' | t}}</span>
      <form action="{{url.search}}" method="get" role="search">
        <input name="query" type="text" value="{{params.query | escape}}">
        <button type="submit"><div class="icon-search"></div></button>
      </form>
      {% endif %}
    </div>
    <div class="six wide column">
    {% assign results = '0' %}
    {% if search.size %}
    {% assign results = search.size %}
    {% endif %}
    {% capture results %}{{results}} {% if search.size == 1 %}{{'search.found_1' | t}}{% else %}{{'search.found' | t}}{% endif %}{% endcapture %}
    {% include 'sortable' with results %}
    </div>
  </div>

  <div class="search-results">
    {% if search.any? %}
    {% paginate search by 12 %}

    <section role="main" class="products-page">
      <div class="ui grid product-grid" data-height="equal">
        {% for product in paginate.collection %}
        <div class="four wide column">
          {% include 'list_product' with 4 %}
        </div>
        {% endfor %}
      </div>

      {% include 'pagination' %}
    </section>

    {% endpaginate %}

    {% else %}

    <div class="no-results">
      {{'search.no_results' | t}} "{{params.query}}".
    </div>

    {% endif %}
  </div>
</div>
