<div class="row">
  <div class="large-12 columns">
    <h1 class="page-title">Search</h1>
  </div>
</div>

<div class="row">
  <div class="columns">
    <div class="divider results"></div>
  </div>
</div>

<div class="row summary narrow">
  {% if params.query %}
  <div class="large-4 columns">
    <p>Search results for <strong>"{{ params.query | escape }}"</strong></p>
  </div>
  {% endif %}

  <div class="large-4 columns">
    <div class="searchbar-container">
      <form  action="{{url.search}}" method="get" role="search">

        <input name="query" type="text" placeholder="Search store..." class="hint text" value="{{ params.query | escape }}" />
        <button aria-hidden="false" class="glyph search"></button>
      </form>
    </div>
  </div>

  {% if search.size %}
  <div class="large-4 columns">
    <p><strong>{{search.size}}</strong> results found</p>
  </div>
  {% endif %}
</div>

<div class="row">
  <div class="columns">
    <div class="divider results"></div>
  </div>
</div>

<div class="row">
  <div class="right columns large-6">

  </div>
</div>

{% if search.any? %}

{% paginate search by 12 %}
<section role="main" class="category-page">
    {% for product in paginate.collection %}
    {% include 'list_search' %}
    {% endfor %}
</section>

<section class="subheader">
  <div class="columns large-6">
    {% include "crumbs" %}
  </div>
  <div class="columns large-6">
    <div class="row">
      {% include 'pagination' %}
    </div>
  </div>
</section>

{% endpaginate %}

{% else %}
{% if params.query %}
<section role="main" class="category-page">
  <div class="row">
    <div class="columns large-24 text-content-block">
      {{ 'search.no_results' | t }}
    </div>
  </div>
</div>
{% endif %}
{% endif %}
