<section class="subheader">
  <div class="columns large-12">
    {% include "crumbs" %}
  </div>
</section>

{% include "flash_message" %}

<div class="account-content">
  <div id="customer-register">
    <div class="row">
      <div id="register" class="columns large-12">
        <h1 class="page-title">{{'account.create_account' | t}}</h1>

        <div class="form-error" data-form-error></div>

        <form {{ form_actions.signup }}" method="post" data-behavior="register" data-error="{{'account.error.password_mismatch' | t}}">
          {{ form_actions.auth_input }}
          <div id="first_name" class="clearfix large_form">
            <label for="first_name" class="label">{{'account.first_name' | t}}</label>
            <input type="text" value="" name="account[first_name]" id="first_name" class="text" data-error="{{ 'account.error.first_name' | t }}">
          </div>

          <div id="last_name" class="clearfix large_form">
            <label for="last_name" class="label">{{'account.last_name' | t}}</label>
            <input type="text" value="" name="account[last_name]" id="last_name" class="text" data-error="{{ 'account.error.last_name' | t }}" />
          </div>

          <div id="email" class="clearfix large_form">
            <label for="email" class="label">{{'account.email' | t}}</label>
            <input type="text" data-type="email" value="" name="account[email]" id="email" class="text" data-error="{{ 'account.error.email' | t }}" />
          </div>

          <div id="password" class="clearfix large_form">
            <label for="password" class="label">{{'account.password' | t}}</label>
            <input type="password" data-type="password" value="" name="account[password]" id="password" class="password text" data-error="{{ 'account.error.password' | t }}" />
          </div>

          <div id="password_confirmation" class="clearfix large_form">
            <label for="password_confirmation" class="label">{{ 'account.password_confirmation' | t }}</label>
            <input type="password" data-type="password_confirmation" value="" name="account[password_confirmation]" id="password_confirmation" class="password text" data-error="{{ 'account.error.password_confirmation' | t }}" />
          </div>

          <div class="field checkbox-field">
            <label for="newsletter">
              <input type="hidden" name="account[newsletter]" value="0">
              <input type="checkbox" class="custom-checkbox" id="newsletter" name="account[newsletter]" value="1">
              <span class="label-text">
                {{ 'account.subscribe_to_newsletter' | t }}
              </span>
            </label>
          </div>

          <div class="action_bottom">
            <input class="button" type="submit" value="{{'account.create' | t}}">
            <span class="note">or <a href="{{url.login}}">{{'account.login_with_account' | t}}</a></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
