<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>
      {{"emails.order.confirmation.title" | t}}
    </title>
    <style type="text/css">
      a:hover {
        text-decoration: none;
      }
    </style>



    <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td>

            <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="620">
              <tbody>
                <tr>
                  <td style="padding: 40px 30px;">

                    <table style="margin: 0 0 40px 0;" border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tbody>
                        <tr>
                          <td width="220">
                            <p style="margin: 0; padding: 0; font-weight: bold; font-size: 38px;">
                              {{ shop.name }}
                            </p>
                          </td>
                          <td width="160"></td>
                          <td style="text-align: left;" width="180">
                            <p style="margin: 0 0 5px 0; padding: 0; font-size: 13px;">
                              <strong>
                                {{"public.invoice.order_number"|t}}
                              </strong>
                              <span>
                                {{order.number}}
                              </span>
                            </p>
                            <p style="margin: 0; padding: 0; font-size: 13px;">
                              <strong>
                                {{"public.invoice.date"|t}}
                              </strong>
                              <span>
                                {{ order.created_at | date: '%d %B %Y' }}
                              </span>
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>



                          {% if order.shipping_address? %}

                          {% endif %}

                          <table style="margin: 0 0 60px 0;" border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tbody>
                        <tr>
                          <td style="vertical-align: top;" width="180">
                            <ul style="margin: 0; padding: 0; list-style: none; font-size: 13px; line-height: 16px;">
                              <li style="background: black; height: 28px; line-height: 28px; color: #ffffff; font-weight: bold; padding: 3px 10px; margin: 0 0 10px 0;">
                                {{"public.invoice.customer"|t}}
                              </li>
                              {% if order.billing_address.company? %}
                              <li style="color: black; padding: 3px 10px;">
                                {{order.billing_address.company }}
                              </li>
                              {% endif %}
                              <li style="color: black; padding: 3px 10px;">
                                {{order.billing_address.first_name }} {{order.billing_address.last_name }}
                              </li>
                              <li style="color: black; padding: 3px 10px;">
                                {{order.billing_address.full_address}}
                              </li>
                              <li style="color: black; padding: 3px 10px;">
                                {{order.billing_address.city}} {{order.billing_address.state}} {{order.billing_address.zip}}
                              </li>
                              <li style="color: black; padding: 3px 10px;">
                                {{order.billing_address.country.name}}
                              </li>
                              <li style="color: black; padding: 3px 10px;">
                                {{order.email}}
                              </li>
                              <li style="color: black; padding: 3px 10px;">
                                {{order.billing_address.phone}}
                              </li>
                            </ul>
                          </td>
                          <td width="20"></td><td style="vertical-align: top;" width="180">
                            <ul style="margin: 0; padding: 0; list-style: none; font-size: 13px; line-height: 16px;">
                              <li style="background: black; height: 28px; line-height: 28px; color: #ffffff; font-weight: bold; padding: 3px 10px; margin: 0 0 10px 0;">
                                {{"public.invoice.shipping"|t }}
                              </li>
                              {{ if @order.shipping_address.company? }}
                              <li style="color: black; padding: 3px 10px;">
                                {{order.shipping_address.company}}
                              </li>
                              {{ endif }}
                              <li style="color: black; padding: 3px 10px;">
                                {{order.shipping_address.full_name}}
                              </li>
                              <li style="color: black; padding: 3px 10px;">
                                {{order.shipping_address.full_address}}
                              </li>
                              <li style="color: black; padding: 3px 10px;">
                                {{order.shipping_address.city_state_with_zip}}
                              </li>
                              <li style="color: black; padding: 3px 10px;">
                                {{order.shipping_address.country_name}}
                              </li>
                              <li style="color: black; padding: 3px 10px;">
                                {{order.shipping_address.phone}}
                              </li>
                            </ul>
                          </td>
                          <td width="20"></td><td style="vertical-align: top;" width="180">
                            <ul style="margin: 0; padding: 0; list-style: none; font-size: 13px; line-height: 16px;">
                              <li style="background: black; height: 28px; line-height: 28px; color: #ffffff; font-weight: bold; padding: 3px 10px; margin: 0 0 10px 0;">
                                {{"public.invoice.shop"| t}}
                              </li>
                              <li style="color: black; padding: 3px 10px;">
                                {{ shop.address.company }}
                              </li>
                              <li style="color: black; padding: 3px 10px;">
                                {{ shop.address.address1 }}
                              </li>
                              <li style="color: black; padding: 3px 10px;">
                                {{ shop.address.address2 }}
                              </li>
                              <li style="color: black; padding: 3px 10px;">
                                {{ shop.address.city }}
                              </li>
                              <li style="color: black; padding: 3px 10px;">
                                {{ shop.address.zip }}
                              </li>
                              <li style="color: black; padding: 3px 10px;">
                                {{ shop.address.state }}
                              </li>
                              <li style="color: black; padding: 3px 10px;">
                                {{ shop.address.country }}
                              </li>
                              <li style="color: black; padding: 3px;">
                                {{ shop.address.phone }}
                              </li>
                            </ul>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    {% assign show_sku = 3 %}
                    {% for item in order.items %}
                      {% if item.sku != blank %}
                      {% assign show_sku = 4 %}
                      {% endif %}
                    {% endfor %}

                    <table style="margin: 0 0 20px 0; font-size: 13px;" border="0" cellpadding="0" cellspacing="0" width="100%">
                      <thead>
                        <tr style="background: #000000; line-height: 26px; height: 26px; color: #ffffff;">
                          {% if show_sku == 4 %}
                          <th style="padding: 0 10px; text-align: left;">
                               {{"public.invoice.sku"| t}}
                          </th>
                          {% endif %}
                          <th style="padding: 0 10px; text-align: left;">
                            {{"public.invoice.product"| t}}
                          </th>
                          <th style="padding: 0 20px; text-align: center;">
                            {{"public.invoice.quantity"| t}}
                          </th>
                          <th style="padding: 0 10px; text-align: right;">
                            {{"public.invoice.price"| t}}
                          </th>
                          <th style="padding: 0 10px; text-align: right;">
                            {{"public.invoice.total"| t}}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in order.items %}
                        <tr>
                          {% if show_sku == 4 %}
                          <td style="line-height: 28px; padding: 0 10px; text-align: left;">
                              {{ item.sku }}
                          </td>
                          {% endif %}
                          <td style="line-height: 28px; padding: 3px 10px; text-align: left;">
                            {{ item.name }}
                            {% if item.attributes %}<div style="padding: 0 0 0 20px; font-size: 12px; line-height: 1">{% endif %}
                            {% for attr in item.attributes %}
                            {% if forloop.index != 1 %}, {% endif %}
                            {{ attr.value }}
                            {% endfor %}
                            {% if item.attributes %}</div>{% endif %}
                          </td>
                          <td style="line-height: 28px; padding: 3px 20px; text-align: center;">
                            {{ item.quantity }}
                          </td>
                          <td style="line-height: 28px; padding: 3px 10px; text-align: right;">
                            {{ item.price | money_with_cents }}
                          </td>
                          <td style="line-height: 28px; padding: 3px 10px; text-align: right;">
                            {{ item.total | money_with_cents }}
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                      <tfoot>

                        {% if order.bruto_discount %}
                          <td colspan="{{show_sku}}" style="line-height: 28px; text-align: right; padding: 0 10px; border-top: 3px solid #000000;">
                            {{'email.subtotal_wo_discount' | t}}
                          </td>
                          <td style="line-height: 28px; padding: 0 10px; text-align: right; border-top: 3px solid #000000;">
                            {{order.subtotal_wo_discount | money_with_cents}}
                          </td>
                          <td colspan="{{show_sku}}" style="line-height: 28px; text-align: right; padding: 0 10px; border-top: 3px solid #000000;">
                            {{'email.discount' | t}}
                          </td>
                          <td style="line-height: 28px; padding: 0 10px; text-align: right; border-top: 3px solid #000000;">
                            {{order.bruto_discount | money_with_cents}}
                          </td>
                        {% endif %}

                        <tr>
                          <td colspan="{{show_sku}}" style="line-height: 28px; text-align: right; padding: 0 10px; border-top: 3px solid #000000;">
                            {{"public.invoice.price_total"|t}}
                          </td>
                          <td style="line-height: 28px; padding: 0 10px; text-align: right; border-top: 3px solid #000000;">
                            {{order.subtotal | money_with_cents}}
                          </td>
                        </tr>
                        <tr>
                          <td colspan="{{show_sku}}" style="line-height: 28px; text-align: right; padding: 0 10px;">
                            {{"public.invoice.tax"| t}}
                          </td>
                          <td style="line-height: 28px; padding: 0 10px; text-align: right;">
                            {{order.total_taxes | money_with_cents}}
                          </td>
                        </tr>
                        <tr>
                          <td colspan="{{show_sku}}" style="line-height: 28px; text-align: right; padding: 0 10px;">
                            {{"public.invoice.price_shipping"| t}}
                          </td>
                          <td style="line-height: 28px; padding: 0 10px; text-align: right;">
                            {{order.total_shipping | money_with_cents}}
                          </td>
                        </tr>
                        <tr>
                          <td colspan="{{show_sku}}" style="line-height: 28px; font-weight: bold; border-top: 3px solid #000000; padding: 5px 10px 0 10px; text-align: right;">
                            {{"public.invoice.total" | t}}
                          </td>
                          <td style="line-height: 28px; padding: 5px 10px 0 10px; text-align: right; font-weight: bold; border-top: 3px solid #000000;">
                            {{order.total | money_with_cents}}
                          </td>
                        </tr>
                      </tfoot>
                    </table>


                      <table style="margin: 0 0 60px 0; font-size: 13px;" border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tbody>
                        <tr>
                          <td style="line-height: 20px; text-align: left; width: 140px; padding: 5px;">
                            <strong>
                              {{"public.invoice.payment_method"| t}}
                            </strong>
                          </td>
                          <td style="line-height: 20px; text-align: left; padding: 5px;">
                              {{ order.payment_method_name }}
                          </td>
                        </tr>
                        {% if order.payment_method.invoice_instructions != blank %}
                        <tr>
                          <td style="line-height: 20px; text-align: left; width: 140px; padding: 5px;">
                            <strong>
                              {{"public.invoice.payment_instructions"| t}}
                            </strong>
                          </td>
                          <td style="line-height: 20px; text-align: left; padding: 5px;">
                            {{ order.payment_method.invoice_instructions }}
                          </td>
                        </tr>
                        {% endif %}
                        {% if order.notes != blank %}
                        <tr>
                          <td style="line-height: 20px; text-align: left; width: 140px; padding: 5px;">
                            <strong>
                              {{"public.invoice.order_notes"| t}}
                            </strong>
                          </td>
                          <td style="line-height: 20px; text-align: left; padding: 5px;">
                            {{ order.notes }}
                          </td>
                        </tr>
                        {% endif %}
                      </tbody>
                    </table>

                    <table style="margin: 0 0 60px 0; font-size: 13px;" border="0" cellpadding="0" cellspacing="0" width="100%">
                      <!--
                      <tbody>
                        <tr>
                          <td style="line-height: 20px; text-align: center;">
                            <a href="http://checkout.shoperb.me/invoices/{{order.token}}" style="color: #000000; white-space: nowrap; overflow: hidden; display: block;">http://checkout.shoperb.me/invoices/{{order.token}}</a>
                          </td>
                        </tr>
                      </tbody>
                      -->
                    </table>

                  </td>
                </tr>
              </tbody>
            </table>

          </td>
        </tr>
      </tbody>
    </table>
